@use 'mixins';

.add-some-item {
	transition: all .2s ease;
	display: flex;
	@include mixins.center();
	cursor: pointer;
	pointer-events: all;
	border-radius: 100%;
	width: 100px;
	height: 100px;
	background: mixins.whiteTrans();
	position: relative;
	box-shadow: 0 0 0 1px mixins.whiteTrans(.8);

	&.center {
		@include mixins.absolute-center();
	}

	svg {
		transition: all .2s ease;
		padding: 0;
		width: 50px;
		height: 50px;
		color: var(--app-text);
		z-index: 1;
	}

	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 6px;
		left: 6px;
		right: 6px;
		bottom: 6px;
		background: var(--app-primary-background);
		border-radius: 100%;
		transition: all .5s ease;
		z-index: 0;
	}

	&:hover, &:focus {
		outline: none;
		box-shadow: 0 0 0 1px mixins.whiteTrans(.8),
		inset 1px 1px 20px mixins.blackTrans();

		&:before {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: var(--app-primary-background);
			box-shadow: inset 0 0 0 6px var(--app-accent-background);
		}

		svg {
			transform: scale(1.2);
			color: var(--app-text);
			opacity: 1;
		}
	}
}

body.deep-scroll-size {
	.add-item-floating {
		display: block;
	}
}

.add-item-floating {
	display: none;
	position: sticky;
	z-index: 100;
	bottom: 1vh;
	margin-bottom: 16px;
	left: 50%;
	color: var(--app-primary-background);
	border-radius: 100%;
	width: 6rem;
	height: 6rem;
	line-height: 1;
	transition: all .2s ease;
	cursor: pointer;
	transform: translateX(-50%);

	&:hover {
		&:before {
			box-shadow: 1px 2px 6px mixins.blackTrans(.3);
		}
	}
}
