@use 'mixins';

.add-some-item {
	font-size: 6rem;
	transition: all .2s ease;
	display: flex;
	@include absolute-center();
	cursor: pointer;
	pointer-events: all;

	svg {
		box-shadow: inset 1px 1px 4px mixins.blackTrans(.1);
		border-radius: 100%;
		transition: all .2s ease;
		padding: 0;
		opacity: .8;
	}

	&:before {
		content: '';
		display: block;
		z-index: -1;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: mixins.blackTrans(.2);
		border-radius: 100%;
	}

	border-radius: 100%;

	&:hover, &:focus {
		outline: none;
		svg {
			box-shadow: inset 0 0 0 4px var(--app-accent-background);
			transform: scale(1.2);
			opacity: 1;
		}
	}
}
