.badge {
	padding: 2px 8px;
	border-radius: 16px;
	font-size: .6rem;
	margin: 0 .4rem;
	font-weight: bold;
}

.badge-white {
	background-color: rgba(255, 255, 255, .2);
	border: 1px solid rgba(255, 255, 255, .5);
}
