@use 'mixins';

.badge {
	padding: 2px 8px;
	border-radius: 16px;
	height: 1em;
	line-height: 1em;
	display: inline-flex;
	align-items: center;
	font-size: .6rem;
	margin: 0 .4rem;
	font-weight: bold;
}

.badge-white {
	background-color: mixins.whiteTrans(.2);
	border: 1px solid mixins.whiteTrans(.5);
}
