.card-list {
	margin-top: 16px;
}

.card-item {
	position: relative;

	&:hover {
		.card-side-content {
			background: rgba(255, 255, 255, .9);
			box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
		}
	}
}

.card-no-data {
	margin: 32px 0;
	color: #345e98;
}

.card-sides, .card-sides-header {
	width: auto;
	flex-flow: row wrap;
	align-items: stretch;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 1px;
}

.card-sides-header {
	padding: 0 0 0 16px;
	font-size: 2rem;

	.card-side-name {
		color: rgba(255, 255, 255, 0.8);
		padding-bottom: 8px;
		text-align: center;
		font-weight: 200;
		font-size: 1.2rem;
	}
}

.card-sides {
	//background: rgba(255, 255, 255, .2);
	border-radius: 18px;
	margin: 0 0 32px 0;
	grid-row-gap: 0;
	//padding: 16px;
}

.card-number {
	color: rgba(255, 255, 255, 0.5);
	font-size: 6rem;
	font-weight: 200;
	text-align: right;
	position: absolute;
	line-height: 1;
	left: 0;
	top: 16px;
	padding-right: 16px;
	transform: translateX(-100%);
	display: flex;
	flex-flow: column nowrap;

	span {
		font-size: 1.5rem;
		opacity: .8;
		border-top: 1px solid rgba(255, 255, 255, .4);
	}
}

.card-actions {
	position: absolute;
	line-height: 1;
	right: 0;
	top: 16px;
	padding-left: 16px;
	transform: translateX(100%);
	display: flex;
	flex-flow: column nowrap;
}

.card-side-content {
	display: flex;
	flex-flow: column wrap;
	background: #ece6db;
	border-radius: 12px;
	margin: 0;
	padding: 16px;
	align-items: center;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	transition: all .2s ease;

	.card-header, .card-word, .card-footer {
		display: flex;
		border: 1px dashed rgba(0, 0, 0, .2);
		width: 100%;
		min-height: 2rem;
		border-radius: 6px;
		align-items: center;
		text-align: center;
		justify-content: center;
		color: #2b566e;
	}

	.card-header {
		margin-bottom: auto;
		font-size: .8rem;
		font-weight: 300;
	}

	.card-word {
		margin: 16px 0;
		font-size: 1.2rem;
		flex-grow: 2;
		color: #0f384f;
		white-space: pre-wrap;
		font-weight: 400;
	}

	.card-footer {
		margin-top: auto;
		font-size: .8rem;
		font-weight: 300;
	}
}

.add-card-floating {
	display: block;
	position: sticky;
	bottom: 2vh;
	left: 90vw;
}
