.card-table {
	margin-bottom: 16px;

	.ag-root-wrapper {
		border-radius: 12px;
		border: none;
		background: none;
	}

	.ag-center-cols-container {
		//min-height: unset !important;
	}

	.ag-center-cols-viewport {
		//min-height: unset !important;
	}

	.ag-header {
		background: none;
		border: none;
	}

	.ag-header-cell {
		background-color: rgba(255, 255, 255, .7);
	}

	.ag-theme-alpine {
		--ag-background-color: #f1f1e9;
		--ag-odd-row-background-color: #f1f1e9;

		--ag-header-height: 24px;
		--ag-header-foreground-color: #222;
		--ag-header-background-color: #f2f2f2;
		--ag-header-cell-hover-background-color: #fff;
		--ag-header-cell-moving-background-color: rgb(106, 167, 241);
		--ag-selected-row-background-color: rgba(255, 183, 0, 0.1);
		--ag-row-hover-color: rgba(255, 183, 0, 0.3);
	}

	.ag-theme-alpine .ag-header-group-cell {
		font-weight: normal;
		justify-content: center;
		text-transform: uppercase;
		font-size: .9rem;
		transition: background-color .4s ease;
		pointer-events: none;
		background-color: rgba(255, 255, 255, .4);
	}

	.ag-theme-alpine .ag-header-cell {
		font-weight: bold;
		font-size: .8rem;
		transition: background-color .2s ease;
		border: none !important;
		outline: none !important;
	}

	&.readonly {
		.ag-cell-focus {
			outline: none;
			border-color: transparent !important;
		}
	}

	&.editable {
		.ag-theme-alpine {
			--ag-background-color: #f3fcfd;
			--ag-odd-row-background-color: #f3fcfd;
		}

		.ag-theme-alpine .ag-header-group-cell {
			font-weight: normal;
			justify-content: center;
			text-transform: uppercase;
			font-size: .9rem;
			transition: background-color .2s ease;
			pointer-events: none;
			background-color: rgba(2, 74, 112, 0.9);
			color: #fff;
		}

		.ag-cell-focus {
			background: rgba(255, 255, 255, .2);
			border-radius: 4px;
		}

		.ag-cell.ag-cell-focus.ag-cell-inline-editing {
			border-color: #ffbd0e !important;
			border-width: 2px;
			box-shadow: 0 0 0 2px #ffbd0e;
		}

		.ag-input-wrapper {
			border-color: #ffbd0e !important;
			border-radius: 4px;
		}

		.ag-text-field-input {
			border: none;
			background: #fff;
			outline: none;
			border-radius: 6px;
		}

		&.narrow .ag-theme-alpine .ag-header-cell {
			font-weight: normal;
			justify-content: center;
			text-transform: uppercase;
			font-size: .9rem;
			transition: background-color .2s ease;
			background-color: rgba(2, 74, 112, 0.9);
			color: #fff;

			&:hover {
				background-color: rgba(2, 74, 112, 0.2);
			}
		}

		.ag-theme-alpine {
			--ag-selected-row-background-color: rgba(0, 150, 255, 0.1);
			--ag-row-hover-color: rgba(0, 150, 255, 0.2);
		}
	}

	.ag-row:hover {
		.table-button-column {
			opacity: 1;
		}
	}

	.table-button-column {
		opacity: 0;

		span, div {
			background-color: #0075ce;
			color: #fff;
			border-radius: 100%;
			padding: 4px;
			display: inline-flex;
			vertical-align: middle;

			@include center();

			cursor: pointer;
			transition: all .2s ease;

			svg {
				font-size: 1rem;
				line-height: 1;
				width: 1rem;
				height: 1rem;
			}

			&:hover {
				transform: translateY(-1px) scale(1.3);
				box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
			}
		}

		&.danger {
			span, div {
				background: rgba(255, 2, 144, 0.94);
			}
		}
	}
}
