.no-data-text {
	background: rgba(255, 255, 255, .4);
	box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
	color: rgba(0, 0, 0, 0.7);
	width: 50%;
	padding: 16px;
	border-radius: 8px;
	@include center();
	margin: 2rem auto;
	display: flex;
	position: relative;

	svg {
		margin: 0 .5rem;
		font-size: 1.5rem;
		color: #045aa9;
	}

	.arrow-up {
		position: absolute;
		top: -15px;
		width: 0;
		height: 0;
		border-left: 15px solid transparent;
		border-right: 15px solid transparent;

		border-bottom: 15px solid rgba(255, 255, 255, .4);
	}
}
