@use 'mixins';

.list-style-table {
	flex-flow: column nowrap;
	border-radius: 20px 20px 0 0;
	border: 4px solid mixins.blackTrans(.4);
	background: mixins.blackTrans();
	box-sizing: border-box;
	min-width: 100%;

	.card-list-headers {
		display: flex;
		width: 100%;
		flex-flow: column nowrap;
		font-size: .8rem;
		font-weight: 300;

		.clh-header-row {
			width: 100%;
			display: flex;
			flex-flow: row nowrap;
			color: var(--app-primary-color);
		}

		.clh-header-row.sides {
			margin-bottom: 1px;

			.clh-side {
				grid-template-columns: 1fr;
				height: 32px;
				background: var(--app-primary-background);
				color: var(--app-primary-color);
				font-weight: 400;
				opacity: .7;

				&:nth-child(1) {
					border-top-left-radius: 16px;
				}

				&:nth-child(2) {
					border-top-right-radius: 16px;
				}
			}
		}

		.clh-side {
			display: grid;
			flex-flow: row nowrap;
			height: 100%;
			@include mixins.center();
			width: 50%;
			grid-template-columns: 1fr 2fr 1fr;
			grid-column-gap: 1px;
			margin-right: 1px;

			&:nth-of-type(2) {
				margin-right: 0;
			}

			span {
				display: flex;
				flex-flow: row nowrap;
				background: var(--app-primary-background);
				color: var(--app-primary-color);
				width: 100%;
				height: 32px;
				@include mixins.center();
			}
		}
	}

	.card-item {
		width: 100%;
		display: block;
		float: none;
		border-radius: 0;
		padding: 0;
		margin: 1px 0 0 0;
		background: none;
		opacity: .9;
		position: relative;
		background: mixins.blackTrans();

		&:hover, &:focus, &:focus-within {
			opacity: 1;
			z-index: 2;

			.card-sides {
				.card-side-content {
					box-shadow: none;
				}
			}
		}
	}

	.card-sides {
		display: flex;
		max-width: unset;
		min-height: 40px;
		max-height: 64px;
		height: auto;
		padding: 0;
		margin: 0;
		flex-flow: row nowrap;
		width: 100%;
		border-radius: 0;
		background: none;

		.card-side-content {
			width: 100%;
			max-width: unset;
			min-height: 40px;
			max-height: 64px;
			border-radius: 0;
			padding: 0;
			margin: 0;
			display: grid;
			grid-template-columns: 1fr 2fr 1fr;
			grid-column-gap: 1px;
			box-shadow: none;
			background-color: #f6e7c7;
			color: #333;

			.card-header, .card-text, .card-footer {
				padding: 0;
				margin: 0;
				height: 100%;
				border: none;
				border-radius: 0;
				border-right: 1px solid mixins.blackTrans();
				text-overflow: ellipsis;
			}

			&:nth-of-type(2) {
				.card-footer {
					border: none;
				}
			}
		}

		.card-actions {
			width: 32px;
			height: 32px;
			top: 50%;
			right: 8px;
			transform: translateY(-50%);
		}
	}

	.card-index {
		left: 0;
		top: 50%;
		bottom: unset;
		right: unset;
		transform: translateX(-100%) translateY(-50%);
		padding-right: 8px;
	}
}

@mixin narrowTable {
	.card-list-headers {
		.clh-header-row {
			display: none;
		}

		.clh-header-row.sides {
			display: flex;
		}

		.clh-side {
			grid-template-columns: 1fr !important;

			span {
				&:nth-of-type(1), &:nth-of-type(3) {
					display: none;
					visibility: collapse;
				}
			}
		}
	}

	.card-side-content {
		grid-template-columns: 1fr !important;

		.card-text {
			border: none;
		}

		.card-header, .card-footer {
			display: none;
		}
	}
}


.list-style-table.table-narrow {
	@include narrowTable();
}

@media screen and (max-width: 800px) {
	.list-style-table {
		@include narrowTable();
	}
}
