.card-sides, .card-sides-header {
	width: auto;
	flex-flow: row wrap;
	align-items: stretch;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 1px;
	position: relative;
}

.card-sides-header {
	height: 48px;
	margin-bottom: 16px;

	.card-side-name {
		color: rgba(255, 255, 255, 0.9);
		text-align: center;
		font-weight: 200;
		font-size: 1.2rem;
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: center;
	}
}

.card-sides {
	border-radius: 18px;
	margin: 0 0 32px 0;
	grid-row-gap: 0;
}

.card-number {
	color: rgba(255, 255, 255, 0.5);
	font-size: 6rem;
	font-weight: 200;
	text-align: right;
	position: absolute;
	line-height: 1;
	left: 0;
	top: 16px;
	padding-right: 16px;
	transform: translateX(-100%);
	display: flex;
	flex-flow: column nowrap;

	span {
		font-size: 1.5rem;
		opacity: .8;
		border-top: 1px solid rgba(255, 255, 255, .4);
	}
}

.card-actions {
	position: absolute;
	line-height: 1;
	right: 0;
	bottom: 0;
	display: flex;
	opacity: 0;
	flex-flow: column nowrap;
	transition: opacity .5s ease;

	div {
		margin: 8px;
		width: 42px;
		height: 42px;
		display: flex;
		@include center();
		border-radius: 100%;
		background: rgba(255, 2, 144, 0.94);
		color: #fff;
		transition: all .2s ease;
		cursor: pointer;

		&:hover {
			background: rgba(215, 1, 120, 0.94);
			transform: translateY(-2px);
			box-shadow: 1px 2px 2px rgba(0, 0, 0, .4);
		}
	}
}

.card-side-content {
	display: flex;
	flex-flow: column wrap;
	background: #ece6db;
	margin: 0;
	padding: 16px;
	align-items: center;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	cursor: pointer;

	&:first-child {
		border-top-left-radius: 12px;
		border-bottom-left-radius: 12px;
	}

	&:last-child {
		border-top-right-radius: 12px;
		border-bottom-right-radius: 12px;
	}

	.card-header, .card-word, .card-footer {
		display: flex;
		border: 1px dashed rgba(0, 0, 0, .12);
		width: 100%;
		min-height: 2rem;
		border-radius: 6px;
		align-items: center;
		text-align: center;
		justify-content: center;
		color: #2b566e;
		max-height: 80px;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.card-header {
		margin-bottom: auto;
		font-size: .7rem;
		font-weight: 300;
	}

	.card-word {
		margin: 16px 0;
		font-size: .8rem;
		flex-grow: 2;
		color: #0f384f;
		white-space: pre-wrap;
		font-weight: 400;
	}

	.card-footer {
		margin-top: auto;
		font-size: .7rem;
		font-weight: 300;
	}
}

.add-card-floating {
	display: block;
	position: sticky;
	z-index: 100;
	bottom: 2vh;
	left: 90vw;
	color: rgba(19, 138, 255, 0.76);
	border-radius: 100%;
	font-size: 5rem;
	width: 5rem;
	height: 5rem;
	line-height: 1;
	transition: all .2s ease;
	cursor: pointer;

	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(255, 255, 255, .5);
		z-index: -1;
		border-radius: 100%;
		box-shadow: 1px 2px 4px rgba(0, 0, 0, .2);
	}

	&:hover {
		color: #0078e7;
		transform: translateY(-2px);

		&:before {
			box-shadow: 1px 2px 6px rgba(0, 0, 0, .3);
		}
	}
}

.card-side-editor {
	width: 100%;
	display: flex;
	align-items: stretch;
	align-content: stretch;
	justify-items: stretch;
	justify-content: center;
	flex-flow: row wrap;

	.card-form-preview {
		align-self: stretch;
		justify-self: stretch;
		min-height: 100%;
		max-width: 450px;
		display: flex;
		flex-grow: 2;
		min-width: 400px;
		min-height: 400px;
		position: relative;
	}
}
