.card-list.list-style-list {
	width: 100%;
	padding: 0;
	display: flex;
	flex-flow: column nowrap;
	align-content: center;

	.card-item {
		display: grid;
		margin: 8px 0;
		grid-template-columns: 100px 10fr 100px;
	}

	.card-number {
	}

	.card-sides {
		//width: 100%;
		margin-bottom: 0;
		position: relative;
	}
}

.card-list-add-list {
	width: 100%;
	display: grid;
	grid-template-columns: 100px 10fr 100px;

	.card-item.add {
		display: flex;
	}
}
