@use 'mixins';

.no-data-text {
	background: mixins.whiteTrans( .4);
	box-shadow: 1px 2px 4px mixins.blackTrans( 0.1);
	color: mixins.blackTrans( 0.7);
	max-width: 726px;
	padding: 16px;
	border-radius: 8px;
	@include center();
	margin: 2rem auto;
	display: flex;
	flex-flow: row wrap;
	position: relative;
	line-height: 1;

	svg {
		margin: .5rem;
		font-size: 1.5rem;
		color: var(--app-primary-background);
	}

	.arrow-up {
		position: absolute;
		top: -15px;
		width: 0;
		height: 0;
		border-left: 15px solid transparent;
		border-right: 15px solid transparent;

		border-bottom: 15px solid mixins.whiteTrans( .4);
	}
}
