@use 'mixins';

.card-item {
	position: relative;
	border-radius: 20px;

	&:hover {
		.card-side-content {
			//transform: translateY(-1px);
			background: mixins.whiteTrans(.9);
			box-shadow: 2px 4px 6px mixins.blackTrans(0.3);
		}

		.card-actions {
			opacity: 1;
		}
	}

	&:focus {
		outline: none;
		box-shadow: 0 0 0 4px var(--app-accent-background), 2px 4px 6px mixins.blackTrans(0.3);
	}

}

.unstable {
	pointer-events: none;
	opacity: .5 !important;
	filter: grayscale(1) blur(2px);
}

.card-sides, .card-sides-header {
	width: auto;
	flex-flow: row wrap;
	align-items: stretch;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 1px;
	position: relative;
}

.card-side {
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
}

.card-sides-header {
	height: 48px;
	margin-bottom: 16px;

	.card-side-name {
		color: mixins.whiteTrans(0.9);
		text-align: center;
		font-weight: 200;
		font-size: 1.2rem;
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: center;
	}
}

.card-sides {
	border-radius: 20px;
	margin: 0 0 32px 0;
	grid-row-gap: 0;
}

.card-index {
	text-align: center;
	font-size: .8rem;
	position: absolute;
	bottom: -20px;
	color: var(--app-text);
	opacity: .7;
	left: 0;
	right: 0;
}

.card-actions {
	position: absolute;
	line-height: 1;
	right: 0;
	bottom: 0;
	display: flex;
	opacity: 0;
	flex-flow: column nowrap;
	transition: opacity .5s ease;

	margin: 0;
	width: 42px;
	height: 42px;
	border-radius: 100%;

	background: mixins.whiteTrans(.9);

	@include mixins.center();
	z-index: 1;
}

.card-side-content {
	display: flex;
	flex-flow: column wrap;
	background: #f1f1e9;
	margin: 0;
	padding: 16px;
	align-items: center;
	box-shadow: 1px 1px 2px mixins.blackTrans(0.2), inset 0 0 0 1px mixins.whiteTrans();
	cursor: pointer;
	transition: background-color .2s ease, box-shadow .5s ease;

	&:first-child {
		border-top-left-radius: 20px;
		border-bottom-left-radius: 20px;
	}

	&:nth-child(2), {
		border-top-right-radius: 20px;
		border-bottom-right-radius: 20px;
	}

	color: #2b566e;

	.card-header, .card-text, .card-footer {
		display: flex;
		border: 1px dashed mixins.blackTrans(.12);
		width: 100%;
		max-width: 100%;
		min-height: 2rem;
		border-radius: 6px;
		align-items: center;
		text-align: center;
		justify-content: center;
		max-height: 80px;
		overflow: hidden;
		text-overflow: ellipsis;
		font-weight: 200;
	}

	.card-header {
		margin-bottom: auto;
		font-size: .7rem;
	}

	.card-text {
		margin: 16px 0;
		font-size: .8rem;
		flex-grow: 2;
		white-space: pre-wrap;
		font-weight: 400;
	}

	.card-footer {
		margin-top: auto;
		font-size: .7rem;
	}

}

.card-side-editor {
	width: 100%;
	display: flex;
	align-items: stretch;
	align-content: stretch;
	justify-items: stretch;
	justify-content: center;
	flex-flow: row wrap;
	z-index: 1;

	.form-editor {
		z-index: 1;
	}

	.card-form-preview {
		align-self: stretch;
		justify-self: stretch;
		max-width: 450px;
		display: flex;
		flex-grow: 2;
		min-width: 400px;
		min-height: 400px;
		position: relative;
		z-index: 0;
	}
}
