@use 'mixins';

.card-list {
	padding: 0;
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	align-items: stretch;
	justify-content: center;
	max-width: unset;

	.card-list-headers {
		display: none;
	}

	.card-item {
		margin: 8px 8px 16px 8px;
		position: relative;

		&.unstable {
			opacity: .5 !important;

			.card-sides {
				filter: grayscale(1) blur(2px);
				opacity: .5;
			}
		}
	}

	.card-sides {
		display: flex;
		min-width: 140px;
		max-width: 140px;
		width: 140px;
		height: 100%;
		margin: 0;
		padding: 0;

		.card-side-content {
			border-radius: 20px;
			max-width: 120px;
			width: 100%;
		}
	}

	.card-actions {
		div {
			margin: 4px;
			width: 32px;
			height: 32px;
		}
	}
}

.list-mode-selector {
	z-index: 2;
	font-size: .8rem;
	color: var(--app-card-text);
	display: flex;
	flex-flow: row nowrap;

	.lm-amount {
		margin-right: 16px;
		color: var(--app-text);
		height: 100%;
		display: flex;
		flex-flow: row nowrap;
		@include mixins.center();
	}

	@include mixins.absolute-center();

	.card-side-selector {
		margin-left: 32px;
	}

	.table-mode-selector {
		margin-right: 32px;
	}

	.table-wide-selector {
		margin-left: 32px;
	}
}

body.deep-scroll-size {
	.card-list-add-cards, .card-list-add-list, .card-list-add-table {
		transform-origin: top left;
		animation-name: hide-under-add;
		animation-timing-function: ease;
		animation-duration: .5s;
		animation-play-state: running;
		animation-iteration-count: 1;
		animation-fill-mode: forwards;
	}
}

@keyframes hide-under-add {
	0% {
		opacity: 1;
		transform: translateY(0);
	}
	90% {
		opacity: 0;
		transform: translateY(-40px);
	}
	100% {
		opacity: 0;
		transform: translateY(-40px);
		display: none;
		visibility: collapse;
	}
}

@import "cards-table-view";
@import "cards-list-view";
@import "cards-no-data";
@import "cards-add";
@import "cards-import";
