@use 'mixins';

.card-list {
	max-width: 960px;
	padding: 0;
	margin: 0 auto 3rem;
}

.card-item {
	position: relative;

	&:hover {
		.card-side-content {
			//transform: translateY(-1px);
			background: mixins.whiteTrans(.9);
			box-shadow: 2px 4px 6px mixins.blackTrans(0.3);
		}

		.card-actions {
			opacity: 1;
		}
	}
}


.list-mode-selector {
	z-index: 2;
	font-size: .8rem;
	color: var(--app-card-text);
	display: flex;
	flex-flow: row nowrap;

	@include mixins.absolute-center();

	.card-side-selector {
		margin-left: 32px;
	}

	.table-mode-selector {
		margin-right: 32px;
	}

	.table-wide-selector {
		margin-left: 32px;
	}
}

body.deep-scroll-size {
	.card-list-add-cards, .card-list-add-list, .card-list-add-table {
		transform-origin: top left;
		animation-name: hide-under-add;
		animation-timing-function: ease;
		animation-duration: .5s;
		animation-play-state: running;
		animation-iteration-count: 1;
		animation-fill-mode: forwards;
	}
}

@keyframes hide-under-add {
	0% {
		opacity: 1;
		transform: translateY(0);
	}
	90% {
		opacity: 0;
		transform: translateY(-40px);
	}
	100% {
		opacity: 0;
		transform: translateY(-40px);
		display: none;
		visibility: collapse;
	}
}

@import "cards-card-view";
@import "cards-table-view";
@import "cards-list-view";
@import "cards-no-data";
@import "cards-add";
