@use 'mixins';

.no-data-text {
	@include mixins.card();
	max-width: 726px;
	padding: 16px;
	border-radius: 8px;
	@include mixins.center();
	margin: 2rem auto;
	display: flex;
	flex-flow: row wrap;
	position: relative;
	line-height: 1;

	svg {
		margin: .5rem;
		font-size: 1.5rem;
		color: var(--app-primary-background);
	}
}

.arrow-up {
	position: absolute;
	top: -16px;
	left: 50%;
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;

	border-bottom: 15px solid mixins.whiteTrans(.6);
	transform: translateX(-50%);
}


.data-preview {
	//width: 100%;
	.ag-theme-alpine {
		//
	}
}
