@use 'mixins';

.card-item.add {
	width: 100%;
	position: relative;
	margin: 0 auto 2rem;

	.card-sides {
		width: 100%;
		margin: 0 auto;

		.card-side-content {
			cursor: default;
			padding: 32px 0;
			height: 64px;
			@include mixins.newcard();
		}
	}
}

.empty-list {
	max-width: 960px;
	margin: 0 auto 2rem;
}

.card-list-add-list {
	.card-sides {
		.card-side-content {
			border-radius: 0;
		}

		.card-side-content:first-child {
			border-right: none;
			margin-right: 0;
			border-radius: 20px 0 0 20px;
		}

		.card-side-content:last-child {
			border-left: none;
			margin-left: 0;
			border-radius: 0 20px 20px 0;
		}
	}
}

.empty-list .card-list-add-cards {
	height: 200px;

	.card-sides {
		align-items: stretch;
		align-content: stretch;
		margin: 0 auto;
		width: 150px;
		height: 200px;
	}
}

.card-list-add-cards {
	padding: 0 0 16px 0;
	min-height: 160px;

	.card-item.add {
		height: 100%;

		.card-sides {
			align-items: stretch;
			align-content: stretch;
			height: 100%;

			.card-side-content {
				align-items: stretch;
				align-content: stretch;
				flex-grow: 2;
				height: auto;
				width: 150px;
				border-radius: 20px;
				max-width: 150px;
			}
		}
	}
}

.empty-list .card-list-add-table {
	max-width: 760px;
}

.card-list-add-table {
	display: flex;
	max-width: 100%;
	margin: 0 auto 2rem;

	.card-sides {
		.card-side-content {
			&:before {
				content: '';
				position: absolute;
				top: 50%;
				left: 0;
				right: 0;
				transform: translateY(-50%);
				height: 40%;
				border: 1px solid mixins.whiteTrans(.2);
				background: mixins.whiteTrans(.1);
				border-left: none;
				border-right: none;
			}
		}

		.card-side-content:first-child {
			border-right: none;
			margin-right: 0;
			border-radius: 20px 0 0 20px;
		}

		.card-side-content:last-child {
			border-left: none;
			margin-left: 0;
			border-radius: 0 20px 20px 0;
		}
	}
}


.cards-import {
	@include mixins.card();
	@include mixins.center();
	padding: 16px;
	margin-top: 4px;
	display: block;
	float: none;

	h1 {
		padding: 0;
		margin: 0 0 16px 0;
	}

	.text {
		text-align: left;
		display: block;
		float: none;
		overflow: hidden;
		margin-bottom: 32px;

		img {
			border: 2px solid var(--app-text);
			float: left;
			width: 60%;
			border-radius: 20px;
			margin-right: 32px;
		}
	}

	p {
		line-height: 1.6rem;
		text-align: left;
		margin-bottom: 1rem;
	}
}

.action-row {
	margin-left: 28px;

	button {
		height: 28px !important;
	}
}
