@use 'mixins';

.card-item.add {
	width: 100%;
	position: relative;

	.card-sides {
		width: 100%;
		margin: 0 auto;

		.card-side-content {
			cursor: default;
			@include mixins.newcard();
		}
	}
}

.card-list-add-list {
	display: flex;
	width: auto;

	.card-item.add {
		margin: 8px !important;
		min-width: 280px;
		max-width: 280px;
		width: 280px;
		height: 166px;
	}

	.card-sides {
		min-height: 166px;
		min-width: 140px;
		max-width: 140px;
		width: 140px;
		padding: 0;
		margin: 0;

		.card-side-content {
			border-radius: 0;
			position: relative;
			width: 100%;
			padding: 0;
			margin: 0;
		}

		.card-side-content:first-child {
			border-right: none;
			margin-right: 0;
			border-radius: 20px 0 0 20px;
		}

		.card-side-content:last-child {
			border-left: none;
			margin-left: 0;
			border-radius: 0 20px 20px 0;
		}
	}
}

.card-list-add-cards {
	display: flex;
	width: auto;

	.card-item.add {
		align-self: stretch;

		.card-sides {
			align-items: stretch;
			align-content: stretch;
			min-height: 166px;
			height: 100%;

			.card-side-content {
				align-items: stretch;
				align-content: stretch;
				flex-grow: 2;
				height: auto;
				width: 150px;
				border-radius: 20px;
				max-width: 150px;
			}
		}
	}
}

.card-list-add-table {
	min-height: 166px;
	display: flex;
	position: absolute;
	bottom: 0;
	left: -4px;
	right: -4px;
	transform: translateY(100%);
	margin-bottom: -8px;

	.card-item.add {
		background: mixins.whiteTrans(.1);
		border-radius: 0 0 20px 20px;
		overflow: hidden;
	}


	.card-sides {
		border-radius: 0 !important;
		box-shadow: none !important;

		.card-side-content {
			border-radius: 0 !important;
			box-shadow: none !important;
			min-height: 166px;
			padding: 0;
			margin: 0;

			&:before {
				content: '';
				position: absolute;
				top: 50%;
				left: 0;
				right: 0;
				transform: translateY(-50%);
				height: 40%;
				border: 1px solid mixins.whiteTrans(.2);
				background: mixins.whiteTrans(.1);
				border-left: none;
				border-right: none;
			}
		}

		.card-side-content:first-child {
			border-right: none;
			margin-right: 0;
			border-radius: 20px 0 0 20px;
		}

		.card-side-content:last-child {
			border-left: none;
			margin-left: 0;
			border-radius: 0 20px 20px 0;
		}
	}
}

//.cards {
//	@include mixins.card();
//}
