.card-list.list-style-list {
	width: 100%;
	padding: 0;
	display: flex;
	flex-flow: row wrap;
	align-content: center;

	.card-sides {
		min-width: 280px;
		max-width: 280px;
		width: 280px;
		flex-flow: row nowrap;

		.card-side-content {
			&:first-child {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}

			&:nth-child(2), {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}
		}
	}
}

.card-list-add-list {
	width: 100%;
	display: grid;
	grid-template-columns: 100px 10fr 100px;

	.card-sides {

		.card-side-content {
			width: 140px;
			min-width: 140px;
		}
	}

	.card-item.add {
		//display: flex;
	}
}
