.card-table {
	.ag-root-wrapper {
		border-radius: 12px;
		border: none;
	}

	.ag-theme-alpine {
		--ag-header-height: 24px;
		--ag-header-foreground-color: #222;
		--ag-header-background-color: #f2f2f2;
		--ag-header-cell-hover-background-color: #fff;
		--ag-header-cell-moving-background-color: rgb(106, 167, 241);
		--ag-selected-row-background-color: rgba(255, 183, 0, 0.1);
		--ag-row-hover-color: rgba(255, 183, 0, 0.3);

	}

	.ag-theme-alpine .ag-header-group-cell {
		font-weight: normal;
		justify-content: center;
		text-transform: uppercase;
		font-size: .9rem;
		transition: all .4s ease;
		pointer-events: none;
		background-color: rgba(106, 167, 241, .4);
	}

	.ag-theme-alpine .ag-header-cell {
		font-weight: bold;
		font-size: .8rem;
		transition: background-color .2s ease;
		border: none !important;
		outline: none !important;
	}

	&.editable {
		.ag-theme-alpine .ag-header-group-cell {
			font-weight: normal;
			justify-content: center;
			text-transform: uppercase;
			font-size: .9rem;
			transition: background-color .2s ease;
			pointer-events: none;
			background-color: rgba(2, 74, 112, 0.9);
			color: #fff;
		}

		.ag-theme-alpine {
			--ag-selected-row-background-color: rgba(0, 150, 255, 0.1);
			--ag-row-hover-color: rgba(0, 150, 255, 0.2);
		}
	}

	.table-open-editor {
		span {
			background-color: #0075ce;
			color: #fff;
			border-radius: 100%;
			padding: 4px;
			display: inline-flex;
			vertical-align: middle;

			@include center();

			cursor: pointer;
			transition: all .2s ease;

			svg {
				font-size: 1rem;
				line-height: 1;
				width: 1rem;
				height: 1rem;
			}

			&:hover {
				transform: scale(1.3);
				box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
			}
		}
	}
}
