.card-list.list-style-cards, .list-style-list {
	display: flex;
	flex-flow: row wrap;
	align-items: stretch;
	justify-content: center;
	max-width: unset;

	.card-item {
		margin: 8px 8px 16px 8px;
		position: relative;
	}

	.card-sides {
		display: flex;
		min-width: 140px;
		max-width: 140px;
		width: 140px;
		height: 100%;
		margin: 0;
		padding: 0;

		.card-side-content {
			border-radius: 20px;
			max-width: 120px;
			width: 100%;
		}
	}

	.card-actions {
		div {
			margin: 4px;
			width: 32px;
			height: 32px;
		}
	}
}
