.collection-item {
	display: flex;
	flex-flow: row nowrap;
	background: rgba(255, 255, 255, .4);
	border-radius: 18px;
	margin: 0 0 32px 0;
	padding: 16px;
	align-items: center;
}

.collection-item-actions {
	display: flex;
	flex-flow: row wrap;
	margin-left: auto;
	background: rgba(255, 255, 255, .4);
	border-radius: 12px;
	padding: 16px;

	button {
		margin-left: 1rem;

		&:first-of-type {
			margin-left: 0;
		}
	}
}

.collection-item-content {
	display: flex;
	flex-flow: column wrap;
}

// temp
.collection-count {
	background: rgba(255, 255, 255, 0.4);
	display: inline-flex;
	aspect-ratio: 1/1;
	line-height: 1;
	vertical-align: middle;
	border-radius: 12px;
	margin: 0;
	padding: 16px;
	font-size: 1.4rem;
	align-content: center;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
}
