@use 'mixins';

body.theme-snow {
	.collection-list {
		.collection-pseudo-card.single {
			background: var(--app-primary-background) !important;
			border: none;
		}
	}
}

.collection-list {
	width: 100%;
	max-width: 1500px;
	margin: 0 auto;
	display: grid;
	gap: 16px;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: minmax(310px, auto);

	&.empty {
		grid-template-columns: 1fr;
	}
}

@media screen and (max-width: 1200px) {
	.collection-list {
		grid-template-columns: 1fr;
	}
}

.collection-item {
	@include mixins.card();
	display: flex;
	flex-flow: column nowrap;

	&.create-collection {
		@include mixins.newcard();
		@include mixins.center();
		width: 100%;
		height: 100%;
	}
}

.collection-list-add {
	@include mixins.center();
	width: 100%;
	height: 100px;
	position: relative;
}

.item-create {
	outline: none;
	font-size: 6rem;
	transition: all .2s ease;
	display: flex;
	cursor: pointer;
	position: relative;

	svg {
		box-shadow: inset 1px 1px 4px mixins.blackTrans(.1);
		border-radius: 100%;
		transition: all .2s ease;
		padding: 0;
	}

	&:before {
		content: '';
		display: block;
		z-index: -1;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(12, 166, 255, 0.2);
		border-radius: 100%;
	}

	border-radius: 100%;

	&:hover, &:focus-within, &:focus {
		//transform: scale(1.1);
		svg {
			box-shadow: inset 0 0 0 4px var(--app-accent-background);
		}
	}
}

.collection-item-content {
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-start;
	flex-grow: 2;
	margin: 0;
	padding: 32px;

	.create-collection & {
		color: var(--app-text);
	}
}

.collection-card-info {
	width: 120px;
	display: flex;
	position: relative;
	flex-flow: column nowrap;

	&:hover, &:focus-within {
		outline: none;

		.collection-pseudo-card {
			transform: translateY(-2px) scale(1.02);
			box-shadow: 0 4px 18px mixins.blackTrans(.2), 0 0 0 4px var(--app-accent-background);

			&.single {
				box-shadow: 0 0 0 4px var(--app-accent-background);
			}

			span {
				background: mixins.whiteTrans(.4);
			}
		}

		.card-shadow {
			transform: translateY(2px) scale(.8);
			opacity: .3;
		}

		.extra-cards {
			transform: translateX(4px);
		}
	}
}

.collection-pseudo-card {
	width: 100%;
	aspect-ratio: 2/3;
	background: mixins.whiteTrans(.4);
	border-radius: 20px;
	display: flex;
	position: relative;
	@include mixins.content-center();
	border: 2px solid mixins.whiteTrans(.8);
	box-sizing: border-box;
	cursor: pointer;
	z-index: 2;

	transition: all .2s ease;
	box-shadow: 2px 2px 8px mixins.blackTrans(.2);

	transform: rotate3d(0, 1, 1, -4deg);
	outline: none;

	span {
		display: flex;
		line-height: 1;
		font-size: 1.5rem;
		font-weight: 200;
		width: 64px;
		height: 64px;
		background: mixins.whiteTrans(.1);
		box-shadow: inset 0 0 1px mixins.blackTrans(.2);
		border-radius: 100%;
		align-items: center;
		justify-content: center;
		transition: all .2s ease;
	}

	&.single {
		box-shadow: none;
		background: none !important;
		transform: none;
		border-style: dashed;
		margin-left: 6px;
	}
}

.card-shadow {
	display: block;
	position: absolute;
	height: 20px;
	left: -4px;
	right: -20px;
	bottom: -16px;
	background: radial-gradient(ellipse at center, mixins.blackTrans(0.4), transparent 70%);
	transition: all .2s ease;
	z-index: -1;
	opacity: .9;
}

.extra-cards {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	aspect-ratio: 2/3;
	background: mixins.whiteTrans(.4);
	border-radius: 12px;
	display: flex;
	z-index: 1;

	transition: all .2s ease;
	transform: rotate3d(0, 1, 1, 2deg) scale(.95) translateX(14px) translateY(1px);
	box-shadow: 2px 2px 8px mixins.blackTrans(.2);

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: mixins.blackTrans(0.2);
		border-radius: 12px;
	}

	&.second {
		transform: rotate3d(0, 1, 1, 6deg) scale(.92) translateX(26px) translateY(1px);
		z-index: 0;

		&:before {
			background: mixins.blackTrans(0.3);
		}
	}
}

.collection-wrapper {
	display: flex;
	flex-flow: column wrap;
	align-items: stretch;
	height: 100%;
	font-size: .9rem;
	flex-grow: 2;
	color: var(--app-card-text);
	font-weight: 200;
	margin-left: 48px;
}

.collection-item-content-wrapper {
	display: flex;
	width: 100%;
	border-radius: 20px;
	flex-flow: column nowrap;
}

.collection-title {
	font-size: 2rem;
	font-weight: 200;
	margin: 0;
	padding: 32px 0 0 0;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	line-height: 1;
	//border-radius: 20px 20px 0 0;
	//background: mixins.blackTrans(.1);
	width: 100%;

	span {
		flex-grow: 2;
		margin-left: 32px;
	}

	button {
		margin-left: auto;
		margin-right: 16px !important;
	}
}

.collection-item-actions {
	display: flex;
	color: var(--app-text);
	flex-flow: row wrap;
	margin-top: auto;
	justify-items: flex-end;

	button {
		&:last-of-type {
			margin-left: auto;
			align-self: flex-end;
		}
	}
}

.collection-item-actions-stack {
	display: flex;
	flex-flow: column wrap;
	align-items: flex-end;
	align-content: stretch;

	button {
		margin: 6px 0 0 0;
		width: 100%;
		color: var(--app-text);
	}
}

.add-new-collection {
	margin: 32px 0;
	display: block;
	flex-flow: column wrap;
}

@media screen and (max-width: 600px) {
	.collection-card-info {
		width: 90px; // 180
	}
	.collection-wrapper {
		margin-left: 16px;
	}
	.collection-pseudo-card, .extra-cards {
		width: 80%;
	}
}
