@use 'mixins';

.dialog-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: mixins.blackTrans(.2);
	backdrop-filter: blur(8px);
	z-index: 1000;
}

.dialog-fullscreen {
	position: fixed;
	top: 20px;
	left: 20px;
	right: 20px;
	bottom: 20px;
	@include mixins.card(.6);
	//background: var(--app-modal-background);
	border-radius: 32px;
	color: #333;
	display: flex;
	flex-flow: column nowrap;
	@include mixins.center();
	z-index: 1001;

	&.modal-danger {
		box-shadow: 0 0 0 8px rgba(255, 2, 78, 0.5);

		.dialog-title {
			color: var(--app-danger-background);
		}

		.dialog-description {
			color: var(--app-danger-background);
		}
	}

	&.modal-normal {
		box-shadow: 0 0 0 8px rgba(2, 129, 255, 0.5);
	}
}

.close-cross {
	position: absolute;
	width: 20px;
	height: 20px;
	top: 16px;
	right: 16px;
}

.dialog-content-wrapper {
	width: calc(100% - 32px);
	max-height: calc(100% - 32px);
	display: flex;
	padding: 16px;
	flex-flow: column nowrap;
	flex-direction: column;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: center;
	align-items: center;
	justify-items: center;
	background: mixins.whiteTrans();
	box-shadow: 0 0 0 2px whiteTrans(.7), inset 0 0 32px whiteTrans(.5);

	.dialog-title, .dialog-description, .dialog-actions, .dialog-content {
		flex-shrink: 0;
		flex-grow: 0;
		width: 100%;
		line-height: 1.4;
		max-width: 500px;
		margin: 0 auto;
	}

	.dialog-side-panel {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: calc((100% - 500px) / 2);
		display: flex;
		flex-flow: column nowrap;

		@include mixins.center();

		.choose-container {
			width: 100%;
			aspect-ratio: 2/3;

			div {
				width: 100%;
				height: 100%;
			}
		}
	}

	.dialog-title {
		font-size: 2rem;
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		align-content: center;
		text-align: left;
		font-weight: 200;
		line-height: 1;
		margin-bottom: 1rem;
		vertical-align: middle;
		position: relative;

		span {
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			align-content: center;
			text-align: left;
		}

		svg {
			margin-right: .5rem;
			display: inline;
		}
	}


	.dialog-description {
		//margin-bottom: 16px;
		text-align: left;
		opacity: .7;
		font-style: italic;
	}

	.dialog-content {
		flex-shrink: 2;
		max-width: unset;
		overflow: auto;

		.dialog-body {
			max-width: 500px;
			margin: 0 auto;
			text-align: left;
		}
	}


	.dialog-actions {
		padding: 8px 0;
		text-align: right;
		margin-top: 8px;
		display: flex;
		justify-items: flex-end;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-end;

		button {
			margin-left: 16px;
		}
	}
}

.modal-close {
	transition: all .2s ease;
	position: absolute;
	cursor: pointer;
	top: 0;
	right: 0;
	font-size: 22px;
	padding: 0;
	margin: 0;
	display: flex;
	@include mixins.center();
	opacity: .8;

	svg {
		margin: 0 !important;
	}

	&:hover {
		opacity: 1;
		transform: scale(1.2);
	}
}
