@use 'mixins';

.drag-wrapper {
	border-radius: 30px !important;
	transition: all .2s ease;

	&.drag {
		opacity: .2;
		pointer-events: none;
		transform: scale(.9);
		background: var(--app-primary-background);

		.card-actions {
			display: none;
		}
	}

	&.over {
		transform: translateX(-8px) scale(1.05);

		.card-side-content {
			box-shadow: none;
		}

		&:after {
			content: '';
			position: absolute;
			right: -4px;
			top: 0;
			bottom: 0;
			width: 4px;
			background: var(--app-accent-background);
			box-shadow: 0 0 0 1px mixins.whiteTrans(.9);
		}
	}
}
