@use 'mixins';

.drag-wrapper {
	border-radius: 30px !important;
	transition: all .2s ease;

	&.drag {
		opacity: .4;
		pointer-events: none;
		transform: scale(.9);
		background: var(--app-accent-background);

		.card-actions {
			display: none;
		}
	}

	&.over {
		.card-side-content {
			box-shadow: none;
		}

		&:after {
			content: '';
			position: absolute;
			left: -9px;
			top: -8px;
			bottom: -8px;
			width: 2px;
			background: var(--app-accent-background);
			box-shadow: 0 0 0 1px mixins.whiteTrans(.9);
		}

		&.drag-back {
			transform: translateX(8px) scaleX(.9);
		}

		&.drag-forward {
			transform: translateX(-8px) scaleX(.9);

			&:after {
				right: -9px;
				left: unset;
			}
		}
	}
}

.list-style-list {
	.drag-wrapper {
		&.drag {
			opacity: .4;
			pointer-events: none;
			transform: scale(.9);
			background: var(--app-accent-background);

			.card-actions {
				display: none;
			}
		}

		&.over {
			&:after {
				content: '';
				position: absolute;
				top: -4px;
				left: -8px;
				right: -8px;
				height: 2px;
				width: unset;
				background: var(--app-accent-background);
				box-shadow: 0 0 0 1px mixins.whiteTrans(.9);
			}

			&.drag-back {
				transform: translateY(8px) scaleX(.9);
			}

			&.drag-forward {
				transform: translateY(-8px) scaleX(.9);

				&:after {
					top: unset;
					bottom: -4px;
					left: -8px;
					right: -8px;
					height: 2px;
				}
			}
		}
	}
}
