.big-error {
	width: 100%;
	flex-grow: 2;
	z-index: 12;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: stretch;
	text-align: center;
	align-content: stretch;
	justify-content: center;
	flex-direction: row;
	background: linear-gradient(150deg, var(--app-danger-background) 10.21%, var(--app-danger-background-darken) 84.57%);

	.big-error-title {
		color: var(--app-danger-text);
		@include center();
		transform: translateY(-2rem);
		padding: 32px;
	}

	.big-error-caption {
		font-size: 3rem;
		font-weight: 200;
	}

	.big-error-subtitle {
		font-size: 1.5rem;
		font-weight: 200;
		padding-bottom: 2rem;
	}

	.big-error-back {
		margin-top: 32px;
		margin-bottom: 16px;

		a {
			font-size: 1.2rem;
			font-weight: 200;
			color: var(--app-danger-text);
		}
	}
}
