@use 'mixins';

.form-editor {
	display: flex;
	flex-flow: column wrap;
	align-content: center;
	z-index: 20;

	input::placeholder, textarea::placeholder, select::placeholder {
		color: #9ac1d9;
	}

	form {
		display: flex;
		flex-flow: column wrap;
		background-color: mixins.whiteTrans(0.4);
		box-shadow: 4px 4px 18px mixins.blackTrans(.2);
		border-radius: 8px;
		padding: 32px 0 0;
		max-width: 600px;
		color: #333;

	}

	h2 {
		font-size: 1.2rem;
		font-weight: 400;
		background-color: mixins.whiteTrans(.4);
		text-align: center;
		line-height: 1;
		border-radius: 8px 8px 0 0;
		padding: 6px 0;
		margin: -32px 0 0 0;
		overflow: hidden;

		a {
			color: #0f384f;
			display: flex;
			flex-flow: row nowrap;
			align-content: center;
			justify-content: center;
			justify-items: center;
			align-items: center;
			text-underline-offset: 20px;

			svg {
				margin-left: 1rem;
			}

			&:hover, &:focus {
				text-decoration: underline;
				text-underline-offset: 4px;
			}
		}
	}

	h3 {
		font-size: 1rem;
		font-weight: 300;
		background-color: mixins.whiteTrans(.4);
		text-align: center;
		padding: 0 6px;
		color: #0f384f;

		&.title {
			margin: 0 0 16px 0;
			padding: 6px;
		}
	}

	fieldset {
		display: flex;
		padding: 6px 48px;
		position: relative;
		flex-flow: row wrap;
		outline: none;
		border: none;
		align-items: center;
		align-content: center;
		transition: all .2s ease;

		&.actions {
			margin: 48px 0 16px 0;
			justify-content: flex-end;

			button {
				margin-right: 1rem;

				&:first-child {
					margin-right: auto;
				}

				&:last-child {
					margin-right: 0;
				}
			}
		}

		&:focus-within {
			background-color: mixins.whiteTrans(0.2);

			label {
				font-weight: bold;
			}
		}

		label {
			font-weight: normal;
		}

		&.required label {
			&:before {
				content: '';
				position: absolute;
				background: #EFBA00FF;
				display: inline-flex;
				border-radius: 100%;
				width: 6px;
				height: 6px;
				top: 50%;
				margin-top: -4px;
				border: 1px solid mixins.whiteTrans(1);
				left: -8px;
			}
		}

		&.valid label {
			&:before {
				background: #00698f;
			}
		}

		&.invalid {
			label {
				&:before {
					background: #ff005b;
				}
			}

			input[type=text], select {
				background-color: #fff0f6;
				border-bottom-color: #ff005b;
				color: #ff005b;

				&::placeholder {
					color: #ffa9c4;
				}
			}
		}

	}

	.field-set {
		position: relative;
		flex-grow: 2;
		display: flex;
		flex-flow: row nowrap;
	}

	.tooltip-error {
		position: absolute;
		display: flex;
		flex-flow: row nowrap;
		align-content: center;
		align-items: center;
		justify-content: center;
		right: -36px;
		top: 50%;
		margin-top: -14px;
		background: #ff005b;
		color: #fff;
		border-radius: 100%;
		width: 20px;
		height: 20px;
		line-height: 1;
		padding: 4px;
		font-size: 16px;
	}

	label, .pseudo-label {
		width: 6rem;
		display: inline-flex;
		align-items: center;
		position: relative;
		padding: 0 12px;
		margin: 0;
	}

	.secondary-label {
		width: auto;
		margin-left: 2rem;
	}

	input[type=text], textarea, select {
		display: inline-flex;
		margin: 0;
		flex-grow: 2;
		padding: 12px 16px;
		border: none;
		border-bottom: 4px solid rgba(119, 119, 119, 0.1);
		outline: none;
		border-radius: 4px;
		transition: all .4s ease;

		&:focus {
			box-shadow: 2px 2px 12px mixins.blackTrans(.2);
			border: none;
			border-bottom: 4px solid #EFBA00FF;
			outline: none;
		}
	}

	textarea {
		height: 4rem;
		min-height: 2rem;
		resize: vertical;
	}

	.field-row-set {
		fieldset {
			overflow: hidden;
		}

		select {
			flex-grow: 0;
			width: 100% !important;
		}

		.font-size {
			display: flex;
			flex-shrink: 0;
			flex-grow: 0;
			width: 90px;
			margin-left: 16px;

			select {
				text-align: center;
				text-align-last: center;
			}
		}
	}
}


.color-picker-popover {
	position: relative;

	button {
		border: 2px solid mixins.whiteTrans(.9);
		display: flex;
		width: 40px;
		height: 40px;
		border-radius: 100%;
		transition: all .2s ease;
		box-shadow: inset 1px 2px 4px mixins.blackTrans(.2);

		&:focus {
			outline: none;
			border: 2px solid #EFBA00FF;
		}
	}

	.color-picker-panel {
		position: absolute;
		z-index: 15;
		margin-top: 8px;
		transform: translateY(-100px) translateX(60px);
		box-shadow: 2px 4px 8px mixins.blackTrans(0.2);
		border-radius: 12px !important;

		.swatches-picker {
			div {
				border-radius: 12px !important;
			}
		}

		.triangle {
			position: absolute;
			top: 62px;
			left: -10px;
			width: 0;
			height: 0;
			border-top: 10px solid transparent;
			border-bottom: 10px solid transparent;

			border-right: 10px solid #fff;
			z-index: 16;
		}
	}
}

.card-preview-container {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	align-content: center;
	justify-items: center;
	justify-content: center;

	div {
		width: 100%;
		height: 100%;
	}

	.canvas-wrapper {
		&:after {
			content: 'Click to preview';
			position: absolute;
			bottom: 16px;
			font-size: .8rem;
			color: mixins.whiteTrans(.8);
			display: none;
		}
	}
}

.card-preview {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	.preview-backdrop {
		display: none;
		max-width: unset !important;
	}
}

.card-preview-fullscreen {
	position: fixed !important;
	top: 10px;
	left: 10px;
	bottom: 10px;
	right: 10px;
	border-radius: 18px;
	color: #333;
	z-index: 2;

	@include center();

	.preview-backdrop {
		position: absolute;
		display: block;
		top: -10px;
		left: -10px;
		width: 100vw;
		height: 100vh;
		background: mixins.blackTrans(.5);
		z-index: -1;
		backdrop-filter: blur(10px);
	}

	.canvas-wrapper {
		z-index: 2;
		display: flex;
		flex-flow: column wrap;
		align-items: center;
		align-content: center;
		justify-items: center;
		justify-content: center;
		box-shadow: 2px 8px 28px mixins.blackTrans(0.55);
		background: linear-gradient(150deg, #569AFF 10.21%, #88DFAB 84.57%);
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		border: 1px solid mixins.whiteTrans(.5);
		border-radius: 20px;

		&:after {
			content: 'Click to close preview';
			display: block;
		}


		div {
			aspect-ratio: 2/3;
			width: auto;
			height: auto;
			display: flex;
			max-width: 600px;
		}
	}

}
