@use 'mixins';

body.theme-snow {
	.form-editor {
		h2, h3 {
			background-color: mixins.blackTrans(.1);
			color: var(--app-card-text);

			a {
				color: var(--app-card-text);
			}
		}

		input[type=text], textarea, select {
			border-radius: 0;

			&:focus {
				box-shadow: none;
			}
		}
	}
}

.form-editor {
	display: flex;
	flex-flow: column wrap;
	align-content: center;
	@include mixins.card;
	padding: 32px 0 0;
	max-width: 600px;
	color: var(--app-modal-text);

	input::placeholder, textarea::placeholder, select::placeholder {
		color: var(--app-placeholder-color)
	}

	h1, h2, h3 {
		@include mixins.center();
		width: 100%;
	}

	h2 {
		font-size: 1.2rem;
		font-weight: 400;
		background-color: mixins.whiteTrans(.4);
		text-align: center;
		line-height: 1;
		border-radius: 16px 16px 0 0;
		padding: 6px 0;
		margin: -32px 0 0 0;
		overflow: hidden;

		a {
			color: var(--app-card-text);
			display: flex;
			flex-flow: row nowrap;
			align-content: center;
			justify-content: center;
			justify-items: center;
			align-items: center;
			font-style: italic;
			text-underline-offset: 20px;

			svg {
				margin-left: 1rem;
			}

			&:hover, &:focus {
				text-decoration: underline;
				text-underline-offset: 4px;
			}
		}
	}

	h3 {
		font-size: 1rem;
		font-weight: 300;
		background-color: mixins.whiteTrans(.4);
		text-align: center;
		padding: 0;
		color: var(--app-section-headers-color);

		&.title {
			margin: 0 0 16px 0;
		}
	}

	fieldset {
		padding: 6px 48px;

		label, .pseudo-label {
			width: 6rem;
		}
	}
}

fieldset {
	display: flex;
	padding: 6px 0;
	position: relative;
	flex-flow: row wrap;
	outline: none;
	border: none;
	align-items: center;
	align-content: center;
	transition: all .2s ease;

	&.actions {
		margin: 48px 0 16px 0;
		justify-content: flex-end;

		button {
			margin-right: 1rem;

			&:first-child {
				margin-right: auto;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}

	&:focus-within {
		background-color: mixins.whiteTrans(0.2);

		label {
			font-weight: bold;
		}
	}

	label {
		font-weight: normal;
		white-space: nowrap;
		padding-right: 16px;
	}

	&.required label {
		&:before {
			content: '';
			position: absolute;
			background: var(--app-accent-background);
			display: inline-flex;
			border-radius: 100%;
			width: 6px;
			height: 6px;
			top: 50%;
			margin-top: -4px;
			left: -16px;
		}
	}

	&.checkbox-field {
		label.checkbox-label {
			width: auto;
			max-width: unset;
			padding-left: 26px;
			position: relative;
			font-weight: normal;
			-webkit-user-drag: none;
			-webkit-user-select: none;
			user-select: none;


			input {
				position: absolute;
				opacity: 0;
				cursor: pointer;
				height: 0;
				width: 0;
			}

			.checkmark {
				position: absolute;
				top: 50%;
				margin-top: -8px;
				left: 0;
				height: 17px;
				width: 17px;
				border-radius: 4px;
				background-color: var(--app-input-background);
				transition: all .2s ease;
			}

			&:has(input:checked) {
				font-weight: normal;
			}

			input:checked ~ .checkmark {
				background-color: var(--app-primary-background);
			}

			.checkmark:after {
				content: '';
				position: absolute;
				opacity: 0;
				transition: all .2s ease;
			}

			input:checked ~ .checkmark:after {
				opacity: 1;
			}

			.checkmark:after {
				left: 5px;
				top: 1px;
				width: 5px;
				height: 10px;
				border: solid var(--app-text);
				border-width: 0 2px 2px 0;
				transform: rotate(45deg);
			}
		}
	}


	&.valid label {
		&:before {
			background: var(--app-success-background);
		}
	}

	&.invalid {
		label {
			&:before {
				background: var(--app-danger-background);
			}
		}

		input[type=text], select {
			background-color: var(--app-input-background);
			border-bottom-color: var(--app-danger-background);
			color: var(--app-danger-background);

			&::placeholder {
				color: var(--app-placeholder-error-color);
			}
		}
	}

}

.field-set {
	position: relative;
	flex-grow: 2;
	display: flex;
	flex-flow: row nowrap;
}

.tooltip-error {
	position: absolute;
	display: flex;
	flex-flow: row nowrap;
	align-content: center;
	align-items: center;
	justify-content: center;
	right: -36px;
	top: 50%;
	margin-top: -14px;
	background: var(--app-danger-background);
	color: var(--app-danger-text);
	border-radius: 100%;
	width: 20px;
	height: 20px;
	line-height: 1;
	padding: 4px;
	font-size: 16px;
}

label, .pseudo-label {
	width: 10rem;
	display: inline-flex;
	align-items: center;
	position: relative;
	padding: 0 12px 0 0;
	margin: 0;
}

.secondary-label {
	width: auto;
	margin-left: 2rem;
}

input[type=text], textarea, select {
	display: inline-flex;
	margin: 0;
	flex-grow: 2;
	padding: 12px 16px;
	border: none;
	border-bottom: 4px solid rgba(119, 119, 119, 0.1);
	outline: none;
	border-radius: 4px;
	transition: all .4s ease;

	&:focus {
		box-shadow: 2px 2px 12px mixins.blackTrans(.2);
		border: none;
		border-bottom: 4px solid var(--app-accent-background);
		outline: none;
	}
}

textarea {
	height: 4rem;
	min-height: 2rem;
	resize: vertical;
}

.field-row-set {
	fieldset {
		//overflow: hidden;
	}

	select {
		flex-grow: 0;
		width: 100% !important;
	}

	.font-size {
		display: flex;
		flex-shrink: 0;
		flex-grow: 0;
		width: 100px;
		margin-left: 16px;
		position: relative;
	}
}

.react-select-container {
	display: flex;
	//height: 46px;
	padding: 0;
	margin: 0;
	width: 100%;
	box-shadow: none;

	.react-select__control {
		width: 100%;
		display: flex;
		border: none;
		border-bottom: 4px solid rgba(119, 119, 119, 0.1);
		outline: none;
		border-radius: 4px;
		margin: 0;
		padding: 3px;
		box-shadow: none;

		//.react-select__input {
		//	width: 40px !important;
		//	color: red;
		//	border: 1px solid red;
		//	display: block;
		//}

		&:focus, &:hover, &:focus-within {
			box-shadow: 2px 2px 12px mixins.blackTrans(.2);
			border: none;
			border-bottom: 4px solid var(--app-accent-background);
			outline: none;
			transition: all 0.4s ease;
			transform: none;
		}
	}
}

.react-select__menu {
	margin: 2px 0 !important;
	text-align: left;
	white-space: nowrap;
	width: auto !important;
}

.rc-slider.rc-slider-horizontal {
	flex-grow: 2;
	border-radius: 4px;
	position: relative;
	display: flex;
	//width: auto;
	margin: 16px;

	&.range-slider {
		.rc-slider-rail {
			background: #eee;
		}

		.rc-slider-track {
			background: var(--app-danger-background);
		}

		.rc-slider-step {
			border-color: var(--app-danger-background);
		}

		.rc-slider-dot {
			border-color: var(--app-danger-background);
		}

		.rc-slider-handle {
			border-color: var(--app-danger-background);
			background: var(--app-primary-background);
		}
	}

	.rc-slider-rail {
		//background: var(--app-primary-background);
	}

	.rc-slider-track {
		background: var(--app-primary-background);
	}

	.rc-slider-step {
		border-color: var(--app-primary-background);
	}

	.rc-slider-dot {
		background: #fff;
		border-color: var(--app-primary-background);
		border-radius: 4px;
	}

	.rc-slider-handle {
		border-color: var(--app-primary-background);
		background: var(--app-accent-background);
		opacity: .9;
		//box-shadow: 0 2px 6px mixins.blackTrans(.4);
		box-shadow: 0 0 0 1px mixins.whiteTrans(.9);
		transform-origin: center center;
		transform: translateX(-50%) scale(1.5) !important;
	}
}

.dialog-form {
	margin: 32px 0;

	fieldset {
		background: #fff;
		margin-bottom: 8px;
		padding: 16px;
		border-radius: 6px;
		box-shadow: 1px 1px 4px mixins.blackTrans();

		label {
			width: auto;
			padding-right: 0;
			flex-grow: 2;
			font-weight: 500;

			.badge {
				margin-left: auto;
			}
		}

		label.secondary-label {
			padding-top: 16px;
			margin-left: 0;
		}

		.pure-button-group {
			margin-left: auto;
		}
	}
}


.color-picker-popover {
	position: relative;

	button {
		border: 2px solid mixins.whiteTrans(.9);
		display: flex;
		width: 40px;
		height: 40px;
		border-radius: 100%;
		transition: all .2s ease;
		box-shadow: inset 1px 2px 4px mixins.blackTrans(.2);

		&:focus {
			outline: none;
			border: 2px solid var(--app-accent-background);
		}
	}

	//.color-picker-panel {
	//	position: absolute;
	//	z-index: 15;
	//	margin-top: 8px;
	//	transform: translateY(-100px) translateX(60px);
	//	box-shadow: 2px 4px 8px mixins.blackTrans(0.2);
	//	border-radius: 12px !important;
	//
	//	.swatches-picker {
	//		div {
	//			border-radius: 12px !important;
	//		}
	//	}
	//
	//	.triangle {
	//		position: absolute;
	//		top: 62px;
	//		left: -10px;
	//		width: 0;
	//		height: 0;
	//		border-top: 10px solid transparent;
	//		border-bottom: 10px solid transparent;
	//
	//		border-right: 10px solid #fff;
	//		z-index: 16;
	//	}
	//}
}

.card-preview-container {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	align-content: center;
	justify-items: center;
	justify-content: center;

	&.with-delay {
		transform-origin: top center;
		animation-name: preview-appear;
		animation-timing-function: ease-in;
		animation-duration: 1s;
		animation-play-state: revert;
		animation-fill-mode: backwards;
	}

	div {
		width: 100%;
		height: 100%;
	}

	.canvas-wrapper {
		&:after {
			content: 'Click to preview';
			position: absolute;
			bottom: 16px;
			font-size: .8rem;
			color: mixins.whiteTrans(.8);
			display: none;
		}
	}
}

.card-preview {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	// z-index: -1;

	.preview-backdrop {
		display: none;
		max-width: unset !important;
	}
}

.card-preview-fullscreen {
	position: fixed !important;
	top: 10px;
	left: 10px;
	bottom: 10px;
	right: 10px;
	border-radius: 18px;
	z-index: 2;

	@include center();

	.preview-backdrop {
		position: absolute;
		display: block;
		top: -10px;
		left: -10px;
		width: 100vw;
		height: 100vh;
		background: mixins.blackTrans(.5);
		z-index: -1;
		backdrop-filter: blur(10px);
	}

	.canvas-wrapper {
		z-index: 2;
		display: flex;
		flex-flow: column wrap;
		align-items: center;
		align-content: center;
		justify-items: center;
		justify-content: center;
		box-shadow: 2px 8px 28px mixins.blackTrans(0.55);
		background: var(--app-background);
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		border: 1px solid mixins.whiteTrans(.5);
		border-radius: 20px;

		&:after {
			content: 'Click anywhere to close the preview';
			display: block;
			color: var(--app-text);
		}


		div {
			aspect-ratio: 2/3;
			width: auto;
			height: auto;
			display: flex;
			max-width: 600px;
		}
	}

}

.tab-switcher {
	width: 100%;
	background: mixins.whiteTrans();
	padding: 32px 0 16px 0;
	margin-bottom: 16px;
	display: flex;
	flex-flow: row nowrap;
	@include mixins.center();
}

@keyframes preview-appear {
	0% {
		opacity: 0;
	}
	80% {
		opacity: 0.4;
	}
	100% {
		opacity: 1;
	}
}

@import 'rc-slider/assets/index.css';
