@use 'mixins';

.app-page-header {
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
	margin: 0 0 32px 0;
	padding: 8px 0;
	align-items: center;
	align-content: center;
	justify-content: center;
	position: relative;

	.app-ph-image {
		width: 100px;
		height: 100px;
		position: absolute;
		right: 2rem;
		top: -8px;
		padding: 0;

		animation-name: appear-image;
		animation-timing-function: ease-in;
		animation-duration: .8s;
		animation-delay: .5s;
		animation-play-state: revert;
		animation-fill-mode: backwards;
	}

	.app-ph-title {
		position: relative;

		animation-name: appear-image;
		animation-timing-function: ease-in;
		animation-duration: .4s;
		animation-play-state: revert;
		animation-fill-mode: backwards;
	}

	&.with-subtitle {
		.app-ph-title:before {
			content: '';
			position: absolute;
			top: 2rem;
			bottom: 1rem;
			right: -5rem;
			left: 3rem;
			background: mixins.whiteTrans(.2);
			border-radius: 8px;
			z-index: -1;
		}
	}

	&.no-bg {
		.app-ph-caption {
			&:before {
				display: none;
			}
		}
	}

	.app-ph-caption {
		font-size: 2rem;
		font-weight: 200;
		color: var(--app-text);
		padding: 1rem 2rem;
		line-height: 1;
		margin: 0;
		position: relative;
		display: inline-flex;
		align-items: center;
		hyphens: auto;
		white-space: nowrap;
		max-width: 450px;

		.go-back {
			font-size: 1.5rem;
			margin-right: 1rem;
		}

		&:before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 8px;
			right: 8px;
			background: mixins.blackTrans(0.4);
			border-radius: 12px;
			z-index: -1;
			transform-origin: top center;
			animation-name: appear;
			animation-timing-function: ease-in-out;
			animation-duration: .7s;
		}

	}


	.app-ph-subtitle {
		padding: 0;
		margin: -.2rem 0 2rem 4rem;
		font-size: 1.2rem;
		font-weight: 200;
		font-variant: small-caps;
		color: mixins.blackTrans(0.9);
		opacity: .8;
		position: relative;
		display: flex;
		width: auto;
		animation-name: appear-subtitle;
		animation-timing-function: ease-in-out;
		animation-duration: .8s;
	}
}

body.exclusive-lock {
	.app-page-header {
		margin-bottom: 8px;
		margin-top: -32px;

		.app-ph-title {
			animation: none;
		}

		.app-ph-caption {
			&:before {
				display: none;
			}
		}
	}
}

@keyframes appear {
	0% {
		opacity: .1;
		transform: translateY(-80px) scaleY(.1);
		border-radius: 0;
	}
	50% {
		opacity: .5;
		transform: translateY(10px) scaleY(.5);
		border-radius: 0;
	}
	100% {
		opacity: 1;
		transform: translateY(0) scale(1);
		border-radius: 12px;
	}
}

@keyframes appear-image {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes appear-subtitle {
	0% {
		transform: translateY(-4px) scale(.5);
		opacity: 0;
	}
	50% {
		transform: translateY(10px) scale(.8);
		opacity: .8;
	}
	100% {
		transform: translateY(0) scale(1);
		opacity: 1;
	}
}
