@use 'mixins';

body.theme-snow {
	.jumbo-logo {
		&:before {
			opacity: .7;
		}
	}
}

.jumbo-logo {
	width: 100%;
	//background: mixins.blackTrans(.1);
	margin-bottom: 32px;
	position: relative;
	overflow: hidden;

	&:before {
		content: '';
		z-index: -1;
		position: absolute;
		top: 0;
		bottom: 0;
		left: -64px;
		right: -64px;
		background: url('./cross.png');
		opacity: .1;
		animation: bg-move 2s linear infinite;
	}
}

@keyframes bg-move {
	0% {
		transform: translateX(0);
	}
	0% {
		transform: translateX(31px);
	}
}

.kardissimo-content {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	justify-items: center;
	position: relative;
	margin-left: -100px;

	& > div {
		position: relative;
		max-width: 400px;
	}

	canvas {
		display: flex;
		height: 368px;
		width: 400px;
		max-height: 368px;
		max-width: 400px;
		flex-grow: 0;
		flex-shrink: 0;
		transform: translateY(-20px);
	}
}

.jumbo-text {
	max-width: unset !important;
	margin-left: -30px;
	color: var(--app-text);

	h1 {
		font-size: 8rem;
		margin: 0;
		padding: 0;
		font-weight: 100;
		line-height: 1;
	}

	p {
		margin: 0;
		font-size: 2rem;
		font-weight: 200;
		line-height: 1;
	}

	transform-origin: bottom center;
	transform: translateY(-10px);
	animation-name: text-appear;
	animation-timing-function: ease;
	animation-duration: .8s;
	animation-delay: 1s;
	animation-play-state: revert;
	animation-fill-mode: backwards;
}

@keyframes text-appear {
	0% {
		opacity: 0;
		transform: translateY(40px) scaleY(.1);
	}
	100% {
		opacity: 1;
		transform: translateY(-10px) scaleY(1);
	}
}
