body.settings-lock {
	overflow: hidden;

	canvas {
		opacity: 0;
	}
}

body.exclusive-lock {
	#app-footer {
		max-height: 0;
		height: 0;
		overflow: hidden;
		opacity: 0;
	}

	#app-menu {
		background: transparent;
		opacity: 0;
		z-index: -1;

		.app-menu-content {
			display: none;
		}
	}

	.app-page-header {
		margin-bottom: 0;
		margin-top: -70px;

		.app-ph-title {
			animation: none;
		}

		.app-ph-image {
			margin-top: calc(.5 * var(--app-menu-height));
		}

		.app-ph-caption {
			&:before {
				display: none;
			}
		}
	}
}
