@use 'mixins';

#app-menu {
	background: mixins.blackTrans(.4);
	display: flex;
	order: 0;
	z-index: 10;
	flex-flow: row wrap;
	width: 100%;
	height: 56px;
	justify-content: center;
	align-items: center;
	align-content: center;
	justify-items: center;
	margin: 0;
	flex-grow: 0;
	flex-shrink: 0;
	max-height: 2000px;
	transition: all .4s ease;

	.app-menu-content {
		display: flex;
		flex-flow: row nowrap;
		max-width: 960px;
	}

	ul {
		display: flex;
		height: 48px;
		margin: 0;
		padding: 0;
		flex-flow: row nowrap;
		align-items: center;
		list-style: none;

		li {
			margin: 0 8px 0 0;
			padding: 0;
			display: flex;
			@include mixins.center();

			&:last-child {
				margin-right: 0;
			}

			a {
				text-decoration: none;
				color: var(--app-text);
				padding: 8px 16px;
				border-radius: 6px;
				transition: all .4s ease;
				outline: none;
				display: flex;
				@include mixins.center();

				&:hover, &.active {
					background: mixins.blackTrans(.4);
					//outline: none;
				}

				&:focus {
					text-decoration: underline;
				}
			}

			svg {
				margin-right: .4rem;
			}
		}
	}
}

.avatar-container {
	display: flex;
	width: 46px;
	height: 46px;
	align-self: center;
	@include mixins.center();
	border-radius: 100%;
	background: mixins.whiteTrans();
	position: relative;

	img {
		width: 100%;
		height: 100%;
		border-radius: 100%;
		opacity: 0;
		transition: all .4s ease;
	}

	.avatar-fallback, .avatar-wait {
		opacity: 0;
		position: absolute;
		display: flex;
		flex-flow: row wrap;
		@include mixins.center();
		border-radius: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		font-size: 1.5rem;
		transition: all .4s ease;
	}

	.avatar-wait {
		opacity: 1;
	}

	&.loaded {
		img {
			opacity: 1;
		}

		.avatar-wait {
			opacity: 0;
		}
	}

	&.fallback {
		img {
			opacity: 0;
		}

		.avatar-fallback {
			opacity: 1;
		}

		.avatar-wait {
			opacity: 0;
		}
	}
}

.user-avatar {
	margin: 0 16px;
	width: 46px;
	height: 46px;
	align-self: center;
	border-radius: 100%;
	border: 2px solid mixins.whiteTrans(.8);
	cursor: pointer;
	display: flex;
	flex-flow: column nowrap;
	padding: 0;
	transition: all .2s ease;
	transform-origin: center center;
	position: relative;

	.actions {
		display: block;
		opacity: 0;
		z-index: -1;
		pointer-events: none;
		position: absolute;
		flex-flow: column wrap;
		@include mixins.center();
		top: 100%;
		left: 50%;
		margin-top: 16px;
		background: mixins.whiteTrans(.9);
		color: mixins.blackTrans(.9);
		white-space: nowrap;
		padding: 8px 16px 16px 16px;
		border-radius: 8px;
		box-shadow: 0 2px 4px mixins.blackTrans();
		transform: translateX(-50%) translateY(10px);
		transition: all .2s ease;

		p {
			font-size: 1rem;
			text-align: center;
			margin-bottom: 24px;
		}

		&:after {
			content: '';
			position: absolute;
			width: 0;
			height: 0;
			top: -10px;
			left: 50%;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-bottom: 10px solid mixins.whiteTrans(.9);
			transform: translateX(-50%);
		}
	}

	&:focus, &:focus-within {
		border-color: #ffbd0e;
		transform: scale(1.1);

		.actions {
			opacity: 1;
			z-index: 10;
			pointer-events: all;
			transform: translateX(-50%) translateY(0);
		}
	}

	&:hover {
		transform: scale(1.1);
	}
}

#app-footer {
	max-height: 2000px;
	order: 100;
	display: flex;
	margin-top: auto;
	width: 100%;
	flex-grow: 0;
	flex-shrink: 0;
	flex-flow: row wrap;
	justify-content: center;
	border-top: 1px solid mixins.blackTrans(.4);
	transition: all .2s ease;

	#app-footer-content {
		display: flex;
		flex-flow: row nowrap;
		padding: 8px 0;
		justify-content: center;

		div {
			font-size: .9rem;
			color: mixins.blackTrans(.5);
			width: 25%;
		}
	}
}
