@use 'mixins';

body.theme-snow {
	#app-menu {
		a {
			&:hover, &.active {
				background: var(--app-primary-background);
			}
		}
	}
}

#app-menu {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	order: 0;
	z-index: 0;
	height: var(--app-menu-height);
	padding: 0 64px;
	flex-grow: 0;
	flex-shrink: 0;
	max-height: 2000px; // for transition
	transition: all .2s ease;

	&:focus-within {
		z-index: 10;
		background: var(--app-dark-background);
		box-shadow: 0 2px 20px mixins.blackTrans(.6);
	}

	.app-menu-content {
		display: grid;
		grid-template-columns: 90px 10fr 120px;
		box-sizing: border-box;
		width: 100%;
		justify-content: center;
		flex-flow: row nowrap;
		align-items: center;
	}

	.menu-logo {
		color: mixins.whiteTrans(1);
		display: flex;
		position: relative;
		padding: 0;
		margin: 0;

		svg {
			width: 48px !important;
			height: 48px !important;
			border-radius: 8px;
			fill: var(--app-text);
			transform: rotate(15deg) translateX(-50%) translateY(-50%);
			transition: all .2s ease;
			position: absolute;
			padding-top: 8px;
			left: 50%;
			top: 50%;
			z-index: 2;
		}

		svg.shadowk {
			fill: mixins.blackTrans(.2);
			padding-left: 2px;
			opacity: .7;
			filter: blur(2px);
			z-index: 1;
		}

		i {
			border-radius: 11px;
			transition: all .2s ease;
			content: '';
			display: block;
			position: absolute;
			left: 50%;
			top: 50%;
			width: 40px;
			height: 40px;
			transform: translateX(-50%) translateY(-50%) rotate(-10deg);
			margin-left: 6px;
			z-index: 0;
			overflow: hidden;
			box-shadow: 0 2px 2px mixins.blackTrans(.2);

			&:before {
				content: '';
				position: absolute;
				top: -8px;
				left: -8px;
				right: -8px;
				bottom: -8px;
				background: var(--app-background);
				background: var(--app-background);
				opacity: 1;
				animation: rotate-bg infinite 5s linear;
				transition: all .2s ease;
				box-shadow: inset 0 2px 20px mixins.blackTrans(.4);
			}

		}

		a.active, a:hover, a:focus {
			background: transparent !important;
			box-shadow: none;

			svg {
				opacity: 1;
			}

			i {
				&:before {
					background: var(--app-background);
					opacity: 1;
					animation: rotate-bg infinite 5s linear;
				}
			}

		}

		a:hover {
			svg {
				transform: rotate(15deg) translateX(-50%) translateY(-50%) scale(1.1);
			}

			svg.shadowk {
				transform: rotate(15deg) translateX(-50%) translateY(-50%) scale(1.0);
				filter: blur(3px);
				padding-left: 3px;
			}

			i {
				&:before {
					background: var(--app-background);
					opacity: 1;
					animation: rotate-bg infinite 5s linear;
				}
			}
		}

		a:focus {
			i {
				box-shadow: 0 0 0 2px var(--app-accent-background);
			}
		}
	}

	ul {
		display: flex;
		height: var(--app-menu-height);
		margin: 0;
		padding: 0;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: center;
		list-style: none;

		&:nth-child(1) {
			align-items: flex-start;
			justify-content: flex-start;
			margin-left: -32px;
		}

		li {
			margin: 0 8px 0 0;
			padding: 0;
			display: flex;
			@include mixins.center();

			&:last-child {
				margin-right: 0;
			}

			a {
				text-decoration: none;
				color: var(--app-text);
				padding: 0 16px;
				border-radius: 24px;
				transition: all .2s ease;
				outline: none;
				height: 32px;
				display: flex;
				@include mixins.center();

				&:hover, &.active {
					box-shadow: 0 0 0 2px var(--app-accent-background);
				}

				&.active {
					background: var(--app-accent-background);
					color: var(--app-accent-text);
				}

				&:focus {
					box-shadow: 0 0 0 2px var(--app-accent-background);
				}
			}

			svg {
				margin-right: .4rem;
				opacity: 1;
			}

			&.icon-only {
				margin: 0 4px;

				a {
					svg {
						margin-right: 0;
						font-size: 1.3rem;
					}
				}
			}

			&.icon-left {
				margin: 0 auto 0 0;
			}

			&.login {
				color: mixins.whiteTrans(.8);

				.pure-button {
					margin: 0 16px;
				}
			}
		}
	}
}

@keyframes rotate-bg {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(359deg);
	}
}

.avatar-container {
	display: flex;
	width: calc(var(--app-menu-height) - 16px);
	height: calc(var(--app-menu-height) - 16px);
	@include mixins.center();
	border-radius: 100%;
	background: mixins.whiteTrans();
	position: relative;

	img {
		width: calc(var(--app-menu-height) - 16px);
		height: calc(var(--app-menu-height) - 16px);
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 100%;
		opacity: 0;
		transition: all .4s ease;
	}

	.avatar-fallback, .avatar-wait {
		opacity: 0;
		position: absolute;
		display: flex;
		flex-flow: row wrap;
		@include mixins.center();
		border-radius: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		font-size: 1.5rem;
		transition: all .4s ease;
	}

	.avatar-wait {
		opacity: 1;
	}

	&.loaded {
		img {
			opacity: 1;
		}

		.avatar-wait {
			opacity: 0;
		}
	}

	&.fallback {
		img {
			opacity: 0;
		}

		.avatar-fallback {
			opacity: 1;
		}

		.avatar-wait {
			opacity: 0;
		}
	}
}

.user-avatar {
	margin: 0 8px;
	width: var(--app-menu-height - 16px);
	height: var(--app-menu-height -16px);
	@include mixins.center();
	align-self: center;
	border: 2px solid mixins.whiteTrans(.8);
	border-radius: 100%;
	cursor: pointer;
	display: flex;
	flex-flow: column nowrap;
	padding: 0;
	transition: all .2s ease;
	transform-origin: center center;
	position: relative;

	.actions {
		display: block;
		opacity: 0;
		z-index: -1;
		pointer-events: none;
		position: absolute;
		flex-flow: column wrap;
		@include mixins.center();
		top: 100%;
		right: -18px;
		margin-top: 16px;
		background: mixins.whiteTrans(1);
		color: mixins.blackTrans(.9);
		white-space: nowrap;
		padding: 8px 16px 16px 16px;
		border-radius: 8px;
		box-shadow: 0 12px 12px mixins.blackTrans(), inset 0 0 32px #fff;
		transform: translateY(10px);
		transition: all .2s ease;

		p {
			font-size: 1rem;
			text-align: center;
			margin-bottom: 24px;
		}

		&:after {
			content: '';
			position: absolute;
			width: 0;
			height: 0;
			top: -9px;
			right: 18px;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-bottom: 10px solid mixins.whiteTrans(1);
			transform: translateX(-50%);
		}
	}

	&:focus, &:focus-within {
		border-color: var(--app-accent-background);
		outline: none;
		box-shadow: none !important;
		transform: scale(1.1);

		.actions {
			opacity: 1;
			z-index: 10;
			pointer-events: all;
			transform: translateY(0);
		}
	}

	&:hover {
		box-shadow: 0 0 0 2px var(--app-accent-background);
	}
}

#app-footer {
	max-height: 2000px;
	order: 100;
	display: flex;
	margin-top: auto;
	width: 100%;
	flex-grow: 0;
	flex-shrink: 0;
	flex-flow: row wrap;
	justify-content: center;
	color: mixins.whiteTrans(.4);
	transition: all .2s ease;
	z-index: 3;

	#app-footer-content {
		display: flex;
		flex-flow: row nowrap;
		padding: 4px 0;
		justify-content: center;
		font-size: .9rem;
		width: 100%;
		margin: 0 32px;
		font-weight: 200;
		cursor: default;

		span {
			margin-left: auto;
		}
	}
}

@media screen and (max-width: 800px) {
	#app-menu {
		.app-menu-content {
			ul {
				li {
					a {
						border-radius: 4px;
						width: 48px;
						height: 48px;
						padding: 0;

						span {
							display: none;
						}

						svg {
							margin: 0;
						}
					}

					&.menu-logo {
						i, svg {
							right: 0;
						}

						&:before {
							display: none;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 600px) {
	#app-menu {
		.app-menu-content {
			ul {
				li {
					a {
						width: 32px;
					}
				}
			}
		}
	}
}
