@use 'mixins';

#app-menu {
	background: mixins.blackTrans( .4);
	display: flex;
	order: 0;
	z-index: 10;
	flex-flow: row wrap;
	width: 100%;
	height: 48px;
	justify-content: center;
	margin: 0;
	flex-grow: 0;
	flex-shrink: 0;
	max-height: 2000px;
	transition: all .4s ease;

	ul {
		display: flex;
		height: 48px;
		margin: 0;
		padding: 0;
		flex-flow: row nowrap;
		align-items: center;
		list-style: none;

		li {
			margin: 0 8px 0 0;
			padding: 0;
			display: flex;

			&:last-child {
				margin-right: 0;
			}

			a {
				text-decoration: none;
				color: var(--app-text);
				padding: 8px 16px;
				border-radius: 6px;
				transition: all .4s ease;
				outline: none;

				&:hover, &.active {
					background: mixins.blackTrans( .4);
					//outline: none;
				}

				&:focus {
					text-decoration: underline;
				}
			}
		}
	}
}

#app-footer {
	max-height: 2000px;
	order: 100;
	display: flex;
	margin-top: auto;
	width: 100%;
	flex-grow: 0;
	flex-shrink: 0;
	flex-flow: row wrap;
	justify-content: center;
	border-top: 1px solid mixins.blackTrans( .4);
	transition: all .2s ease;

	#app-footer-content {
		display: flex;
		flex-flow: row nowrap;
		padding: 8px 0;
		justify-content: center;

		div {
			font-size: .9rem;
			color: mixins.blackTrans( .5);
			width: 25%;
		}
	}
}
