@mixin margin-center {
	margin: 0 auto;
}

@mixin center {
	text-align: center;
	align-content: center;
	align-items: center;
	align-self: center;
	justify-items: center;
	justify-content: center;
	justify-self: center;
}

@mixin content-center {
	text-align: center;
	align-content: center;
	align-items: center;
	justify-items: center;
	justify-content: center;
}

@mixin absolute-center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}

@function blackTrans($opacity: .2) {
	@return rgba(0, 0, 0, $opacity);
}

@function whiteTrans($opacity: .4) {
	@return rgba(255, 255, 255, $opacity);
}

@mixin card {
	background-color: whiteTrans(0.4);
	box-shadow: 4px 4px 18px blackTrans(.2);
	border-radius: 8px;
}
