@mixin margin-center {
	margin: 0 auto;
}

@mixin center {
	text-align: center;
	align-content: center;
	align-items: center;
	align-self: center;
	justify-items: center;
	justify-content: center;
	justify-self: center;
}

@mixin absolute-center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}
