@mixin margin-center {
	margin: 0 auto;
}

@mixin center {
	text-align: center;
	align-content: center;
	align-items: center;
	align-self: center;
	justify-items: center;
	justify-content: center;
	justify-self: center;
}

@mixin content-center {
	text-align: center;
	align-content: center;
	align-items: center;
	justify-items: center;
	justify-content: center;
}

@mixin absolute-center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}

@function blackTrans($opacity: .2) {
	@return rgba(0, 0, 0, $opacity);
}

@function whiteTrans($opacity: .4) {
	@return rgba(255, 255, 255, $opacity);
}

@mixin card($opacity: 0.4) {
	background-color: var(--app-card-background);
	box-shadow: 0 0 0 1px whiteTrans(.7), inset 0 0 32px whiteTrans(.5), 4px 4px 18px blackTrans(.2);
	border-radius: 20px;
	backdrop-filter: blur(20px);
	color: var(--app-card-text);
}

@mixin newcard($opacity: 0.4) {
	background-color: whiteTrans(.05);
	box-shadow: 0 0 0 1px whiteTrans(.4), inset 0 0 64px whiteTrans(.1);
	border-radius: 20px;
	backdrop-filter: blur(20px);
	color: var(--app-card-text);
}

@mixin focusRing() {
	box-shadow: 0 0 0 4px var(--app-accent-background);
}
