#root {
	display: flex;
	width: 100%;
	min-height: 100vh;
	flex-flow: column nowrap;
}

body.exclusive-lock {
	#app-footer {
		max-height: 0;
		height: 0;
		overflow: hidden;
		opacity: 0;
	}

	#app-menu {
		background: transparent;

		ul {
			display: none;
		}
	}
}

a {
	text-underline-offset: 10px;
	text-decoration-thickness: 1px;
	transition: all .2s ease;
	color: var(--app-link-color);
}

a:hover, a:focus {
	text-underline-offset: 4px;
}

.app-page {
	// menu + (page + footer)
	order: 2;
	display: flex;
	flex-grow: 2;
	flex-shrink: 2;
	flex-flow: column nowrap;
}

.app-page-wrapper {
	// (page + footer)
	display: flex;
	flex-grow: 2;
	flex-flow: column nowrap;
	align-items: center;
	position: relative;
}

.app-page-content {
	// page
	min-width: 70%;
	width: 100%;
	flex-grow: 2;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	position: relative;
}

.page {
	max-width: 100%;
	min-width: 400px;
}

.page-1200 {
	max-width: 1200px;
	width: 80%;
	min-width: 400px;
}

.sub-page {
	max-width: 1200px;
	min-width: 400px;
	width: 100%;

	.page {
		width: 100%;
	}
}

.center {
	@include center();
}
