#root {
	display: flex;
	flex-flow: column wrap;
	overflow-y: auto;
	overflow-x: hidden;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

a {
	text-underline-offset: 10px;
	text-decoration-thickness: 1px;
	transition: all .2s ease;
}

a:hover, a:focus {
	text-underline-offset: 4px;
}

.app-page {
	// menu + (page + footer)
	display: flex;
	min-height: 100vh;
	flex-flow: column nowrap;

	.app-page-wrapper {
		// (page + footer)
		display: flex;
		flex-grow: 2;
		flex-flow: column nowrap;
		align-items: center;
		position: relative;
		max-width: 100vw;

		.app-page-content {
			// page
			padding: 16px 32px;
			min-width: 70%;
			width: 100%;
			flex-grow: 2;
			display: flex;
			flex-flow: column nowrap;
			align-items: center;
			position: relative;
		}
	}
}

.page {
	width: 1200px;
	max-width: 80%;
	min-width: 400px;
}

.center {
	@include center();
}

.about-page {
	div {
		line-height: 1.4;
	}
}

.scenes {
	display: grid;
	height: 100%;
	grid-template-columns: 1fr 1.2fr 1fr;
	grid-column-gap: 8px;

	div {
		position: relative;
		border-right: 1px dotted rgba(255, 255, 255, .5);

		&:last-child {
			border-right: none;
		}
	}
}
