@use 'mixins';

#root {
	display: flex;
	width: 100%;
	max-width: 100vw;
	box-sizing: border-box;
	min-height: 100vh;
	flex-flow: column nowrap;
	padding: 0 8px;
	z-index: 1;
}

.app-page {
	// menu + (page + footer)
	order: 2;
	display: flex;
	flex-grow: 2;
	flex-shrink: 2;
	flex-flow: column nowrap;
	z-index: 0;
	border-radius: 20px;
	background: var(--app-background);
	background-attachment: fixed;
	box-shadow: 0 0 48px mixins.blackTrans(.7), inset 0 0 0 1px mixins.whiteTrans(.2);
}

.app-page-wrapper {
	// (page + footer)
	display: flex;
	flex-grow: 2;
	flex-flow: column nowrap;
	align-items: center;
	position: relative;
}

.app-page-content {
	// page
	min-width: 70%;
	width: 100%;
	flex-grow: 2;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	position: relative;

	animation-name: page-appear;
	animation-timing-function: ease-in-out;
	animation-duration: .2s;
	animation-play-state: revert;
	animation-fill-mode: backwards;
}

.align-left {
	margin-right: auto;
	margin-left: 0 !important;
	display: flex;
}

.page-32 {
	width: 100%;
	max-width: 1600px;
	min-width: 200px;
	display: block;
	float: none;
	border: 32px solid transparent;
	box-sizing: border-box;
}

.page-960 {
	max-width: 960px;
}

.page-two-columns {
	column-count: 2;
	column-gap: 64px;

	h1 {
		font-size: 3rem;
		background: var(--app-card-background);
		color: var(--app-card-text);
		margin: 0;
		padding: 32px;
		border-radius: 20px;
	}

	h2 {
		font-size: 2rem;
		margin-top: 4rem;
	}
}

.packages-container {
	padding: 16px;
	background: mixins.blackTrans(.2);
	border-radius: 20px;
	display: inline-block;
}


@media screen and (max-width: 600px) {
	#root {
		padding: 0;
	}
	.app-page {
		border-radius: 8px;
	}
	.page-32 {
		border-width: 16px;
	}
}

@media screen and (max-width: 400px) {
	.page-32 {
		border-width: 8px;
	}
}


@keyframes page-appear {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
