@use 'mixins';

#root {
	display: flex;
	width: 100%;
	min-height: 100vh;
	flex-flow: column nowrap;
}

.spin {
	animation-name: spin;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

.app-page-spinner {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: mixins.blackTrans();
	//transform: translateY(-50%);
	display: flex;
	flex-flow: row nowrap;
	@include mixins.center();
	font-size: 14px;
	color: var(--app-text);
	z-index: 200;

	svg {
		width: 1.5rem;
		height: 1.5rem;
		margin-right: 8px;
		animation-name: spin;
		animation-duration: 1s;
		animation-iteration-count: infinite;
	}
}

a {
	text-underline-offset: 10px;
	text-decoration-thickness: 1px;
	transition: all .2s ease;
	color: var(--app-link-color);
}

a:hover, a:focus {
	text-underline-offset: 4px;
}

p.tip {
	color: var(--app-text);
	text-align: center;
	padding: 16px;
	border-radius: 8px;
	font-size: .9rem;
	font-style: italic;
}

p.inform {
	background: var(--app-info-background);
	color: var(--app-info-text);
	padding: 16px;
	border-radius: 8px;
	font-size: .9rem;
	font-style: italic;
}

.app-page {
	// menu + (page + footer)
	order: 2;
	display: flex;
	flex-grow: 2;
	flex-shrink: 2;
	flex-flow: column nowrap;
}

.app-page-wrapper {
	// (page + footer)
	display: flex;
	flex-grow: 2;
	flex-flow: column nowrap;
	align-items: center;
	position: relative;
}

.app-page-content {
	// page
	min-width: 70%;
	width: 100%;
	flex-grow: 2;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	position: relative;
	animation-name: page-appear;
	animation-timing-function: ease-in-out;
	animation-duration: .2s;
	animation-play-state: revert;
	animation-fill-mode: backwards;
}

.align-left {
	margin-right: auto;
	margin-left: 0 !important;
	display: flex;
}

.page-32 {
	width: 100%;
	max-width: 1600px;
	min-width: 200px;
	display: block;
	float: none;
	border: 32px solid transparent;
	box-sizing: border-box;
}

@media screen and (max-width: 600px) {
	.page-32 {
		border-width: 16px;
	}
}

@media screen and (max-width: 400px) {
	.page-32 {
		border-width: 8px;
	}
}

.center {
	@include mixins.center();
}

.right {
	text-align: right;
	align-content: flex-end;
	align-items: flex-end;
	align-self: flex-end;
	justify-items: flex-end;
	justify-content: flex-end;
	justify-self: flex-end;
}

kbd {
	font-size: .8rem;
	background: mixins.blackTrans(.1);
	color: var(--app-text);
	border-radius: 4px;
	font-weight: 200;
	white-space: nowrap;
	padding: 4px 8px;
	margin: 0 0.4rem;
	box-shadow: 0 0 0 1px mixins.blackTrans(.2);
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(359deg);
	}
}

@keyframes page-appear {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
