#root {
	display: flex;
	flex-flow: row nowrap;
	min-height: 100vh;
}

#app_main_container {
	order: 2;
	display: flex;
	height: 100%;
	min-height: 100vh;
	flex-flow: column nowrap;
}

body.with-side-menu {
	#app_main_container {
		margin-left: 120px;
	}
}

a {
	text-underline-offset: 10px;
	text-decoration-thickness: 1px;
	transition: all .2s ease;
}

a:hover, a:focus {
	text-underline-offset: 4px;
}

.app-page {
	// menu + (page + footer)
	order: 2;
	display: flex;
	//min-height: 100vh;
	flex-grow: 2;
	flex-shrink: 2;
	flex-flow: column nowrap;
}

.app-page-wrapper {
	// (page + footer)
	display: flex;
	flex-grow: 2;
	flex-flow: column nowrap;
	align-items: center;
	position: relative;
}

.app-page-content {
	// page
	min-width: 70%;
	width: 100%;
	flex-grow: 2;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	position: relative;
}

.page {
	max-width: 100%;
	min-width: 400px;
}

.sub-page {
	max-width: 1200px;
	min-width: 400px;
	width: 100%;

	.page {
		width: 100%;
	}
}

.center {
	@include center();
}

.about-page {
	div {
		line-height: 1.4;
	}
}

.scenes {
	display: grid;
	height: 100%;
	grid-template-columns: 1fr 1.2fr 1fr;
	grid-column-gap: 8px;

	div {
		position: relative;
		border-right: 1px dotted rgba(255, 255, 255, .5);

		&:last-child {
			border-right: none;
		}
	}
}
