@use 'mixins';

#root {
	display: flex;
	width: 100%;
	min-height: 100vh;
	flex-flow: column nowrap;
}

.spin {
	animation-name: spin;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

.app-page-spinner {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: mixins.blackTrans();
	//transform: translateY(-50%);
	display: flex;
	flex-flow: row nowrap;
	@include mixins.center();
	font-size: 14px;
	color: var(--app-text);
	z-index: 200;

	svg {
		width: 1.5rem;
		height: 1.5rem;
		margin-right: 8px;
		animation-name: spin;
		animation-duration: 1s;
		animation-iteration-count: infinite;
	}
}

a {
	text-underline-offset: 10px;
	text-decoration-thickness: 1px;
	transition: all .2s ease;
	color: var(--app-link-color);
}

a:hover, a:focus {
	text-underline-offset: 4px;
}

.app-page {
	// menu + (page + footer)
	order: 2;
	display: flex;
	flex-grow: 2;
	flex-shrink: 2;
	flex-flow: column nowrap;
}

.app-page-wrapper {
	// (page + footer)
	display: flex;
	flex-grow: 2;
	flex-flow: column nowrap;
	align-items: center;
	position: relative;
}

.app-page-content {
	// page
	min-width: 70%;
	width: 100%;
	flex-grow: 2;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	position: relative;
	animation-name: page-appear;
	animation-timing-function: ease-in-out;
	animation-duration: .2s;
	animation-play-state: revert;
	animation-fill-mode: backwards;
}

.align-left {
	margin-right: auto;
	margin-left: 0 !important;
	display: flex;
}

.page {
	max-width: 100%;
	min-width: 400px;
	display: block;
	float: none;
}

.page-1200 {
	max-width: 1200px;
	width: 80%;
	min-width: 400px;
	margin-bottom: 32px;
}

.sub-page {
	max-width: 1200px;
	min-width: 400px;
	width: 100%;

	.page {
		width: 100%;
	}
}

.center {
	@include center();
}


@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(359deg);
	}
}

@keyframes page-appear {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
