@use "mixins";

body.theme-snow {
	.run-radiogroup {
		& > div {
			span {
				color: var(--app-text);
			}
		}
	}
}

.run-radiogroup {
	display: flex;
	flex-flow: column wrap;
	margin: 16px 0 0 0;
	font-size: .8rem;
	width: 180px;

	& > div {
		display: flex;
		cursor: pointer;

		&:focus {
			span {
				box-shadow: 0 0 0 4px var(--app-accent-background);
			}
		}

		span {
			color: var(--app-background-color);
			//			color: var(--app-text);
			width: 100%;
			border-radius: 4px;
			padding: 8px 8px 8px 30px;
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			transition: all .2s ease;
			position: relative;
			background: mixins.blackTrans(.05);

			&:hover {
				text-decoration: underline;
			}

			svg {
				position: absolute;
				left: 10px;
				font-size: 1rem;
			}
		}

		b {
			display: inline-flex;
			font-weight: normal;
			align-items: center;

			svg {
				position: relative;
				margin-right: 1rem;
			}
		}
	}

	.radio-checked {
		background: var(--app-background-color);
		color: var(--app-text);

		&:hover {
			box-shadow: 0 0 0 2px var(--app-accent-background);
		}
	}

	&.radiogroup-row {
		//flex-flow: row wrap;
		width: 100%;
		max-width: 100%;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(18%, 1fr));
		grid-gap: 4px;

		& > div {
			//min-width: 80px;
			margin: 2px;
		}
	}
}
