@use "mixins";

.run-list {
	margin: 16px 16px 64px 16px;

	position: relative;
	z-index: 1;
}

.run-collections {
	display: flex;
	flex-flow: column wrap;
	//width: 100%;

	.run-card-wrapper {
		display: flex;
		width: 100%;
		flex-flow: row nowrap;
		background: mixins.whiteTrans(.4);
		border-radius: 12px;
		padding: 16px 0;
		margin: 0 0 16px 0;
		font-weight: 200;
		box-shadow: 1px 2px 8px mixins.blackTrans(.2);
	}

	.run-card-scene {
		width: 150px;
		flex-grow: 0;
		flex-shrink: 0;
		position: relative;
		display: flex;
	}

	.run-card {
		flex-grow: 2;
		display: flex;
		flex-flow: column wrap;
		padding: 0 32px;

		.run-card-subtitle {
			display: flex;
			flex-flow: row wrap;
		}

		h1, h2, h3 {
			margin: 0;
			padding: 0;
			font-weight: 200;
		}

		h2 {
			font-size: 1.2rem;
		}

		.run-card-parameters {
			margin: 32px 0;
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			position: relative;
			height: 80px;

			&:before {
				content: '';
				position: absolute;
				background: mixins.blackTrans();
				top: 4px;
				left: -40px;
				right: -32px;
				bottom: 4px;
				opacity: 0.4;
				z-index: -2;
			}
		}

		.run-card-button {
			display: flex;
			height: 100%;
			padding-left: 32px;
			@include mixins.center();
			position: relative;
			color: var(--app-success-text);
		}

		.run-card-controls {
			display: flex;
			flex-flow: row nowrap;
			margin-left: -40px;
			height: 100%;
			background: var(--app-accent-background);
			border-radius: 0 22px 22px 0;
			box-shadow: 1px 2px 4px mixins.blackTrans(.2);
			position: relative;

			&:before {
				content: '';
				position: absolute;
				bottom: -8px;
				left: 0;
				width: 0;
				height: 0;
				border-top: 8px solid transparent;
				border-bottom: 8px solid transparent;
				border-right: 8px solid var(--app-accent-background-darken);
				z-index: -3;
			}
		}

		.run-card-count {
			height: 100%;
			font-weight: 200;
			font-size: 3rem;
			text-align: center;
			width: 150px;
			text-shadow: 0 1px 0 mixins.blackTrans();
			display: inline-flex;
			color: var(--app-success-text);
			@include mixins.center();
		}
	}
}

.run-dialog-content {
	position: relative;
}

.run-dialog-scene {
	width: 100%;
	max-width: 350px;
	aspect-ratio: 2/3;
}
