.app-secondary-page-header {
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
	flex-grow: 0;
	margin: -8px 0 16px 0;
	justify-content: flex-start;
	position: relative;
	//color: rgba(255, 255, 255, .8);
	//background: rgba(0, 0, 0, .4);
	padding: 0 0 8px 0;

	.app-ph-image {
		width: 120px;
		height: 120px;
		flex-shrink: 0;
		position: absolute;
		right: 24px;
		top: -50px;
		padding: 0;
		border: 2px solid rgba(255, 255, 255, .4);
		border-bottom: none;
		border-radius: 100%;

		animation-name: appear-image;
		animation-timing-function: ease-in;
		animation-duration: .5s;
		animation-delay: .5s;
		animation-play-state: revert;
		animation-fill-mode: backwards;
	}

	.app-ph-back {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: center;
		font-size: 1rem;
		width: 1.5rem;
		height: 1.5rem;
		margin-right: 16px;
		margin-top: 4px;
		font-weight: 300;

		border-radius: 100%;
		border: 1px solid rgba(255, 255, 255, .5);

		cursor: pointer;
		transition: all .4s ease;
		animation-name: appear-back;
		animation-timing-function: ease-in-out;
		animation-duration: 1s;

		&:hover {
			transform: scale(1.2);
			color: rgba(255, 255, 255, 1);
		}
	}

	.app-ph-title {
		font-size: .8rem;
		font-weight: 300;
		margin: 0 auto;
		position: relative;
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		align-content: center;
		justify-content: center;
		justify-items: center;
		word-break: normal;
		white-space: nowrap;
		hyphens: none;

		a, a:visited {
			text-underline-offset: 4px;
			padding: 0;
			color: rgba(255, 255, 255, 1);
		}

		a:hover, a:focus {
			text-underline-offset: 2px;
		}

		div {
			display: flex;
			align-items: center;
			align-content: center;
			justify-content: center;
			justify-items: center;
		}

		i {
			font-style: normal;
			padding: 0 16px;
		}

		b {
			background: rgba(255, 255, 255, 0.2);
			color: #1d536e;
			padding: 6px 8px;
			border-radius: 6px;
			max-width: 300px;
			overflow: hidden;
			text-overflow: ellipsis;
			box-shadow: 1px 1px 2px rgba(0, 0, 0, .1);
			// border: 1px solid rgba(255, 255, 255, .3);

			&.info {
				background-color: #cd0af8;
				color: #fff;
			}
		}
	}
}

@keyframes appear-image {
	0% {
		opacity: 0;
		transform: translateX(20px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes appear-back {
	0% {
		transform: translateX(-20px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes appear-subpage-subtitle {
	0% {
		transform: translateY(-20px);
		opacity: 0;
	}
	40% {
		transform: translateY(5px);
		opacity: .8;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
