@use 'mixins';

.scene-wrapper {
	position: fixed;
	top: -48px; // menu
	left: 0;
	right: 0;
	bottom: 0;
	box-sizing: border-box;
	display: flex;
	flex-flow: row nowrap;
	@include mixins.center();

	.scene-go-back {
		position: absolute;
		top: 20px;
		left: 20px;
		z-index: 2;
	}

	.scene-info {
		position: absolute;
		top: 20px;
		right: 20px;
		z-index: 2;

		&:focus {
			.scene-info-content {
				opacity: 1;
				transform: scaleX(1) translateY(0);
			}
		}
	}

	.scene-info-content {
		position: absolute;
		right: 100%;
		margin-right: 16px;
		top: -4px;
		background: mixins.whiteTrans(.7);
		padding: 16px;
		max-width: 500px;
		width: 400px;
		border-radius: 8px;
		box-shadow: 0 2px 2px mixins.blackTrans();
		opacity: 0;
		transform: scaleX(0.01) translateY(-20px);
		transition: all .2s ease;
		transform-origin: top right;
		text-align: left;
		user-select: none;
		cursor: default;
		font-size: .8rem;

		h3 {
			margin: 0 0 1rem 0;
			font-size: 1.2rem;
			font-weight: 300;
		}

		p {
			margin: 0;
			line-height: 1.8;
		}

		&:after {
			content: '';
			position: absolute;
			width: 0;
			height: 0;
			border-top: 7px solid transparent;
			border-bottom: 7px solid transparent;

			border-left: 7px solid mixins.whiteTrans(.7);
			right: -7px;
			top: 12px;
		}
	}
}

.scene-content {
	width: 50%;
	min-width: 600px;
	height: 100%;
	display: flex;
	flex-flow: column nowrap;
	@include mixins.center();
}

.scene-main {
	overflow: hidden;
	max-width: 600px;
	display: flex;
	flex-flow: column nowrap;
	width: 100%;
	aspect-ratio: 2/3;
	position: relative;

	transform-origin: top center;
	margin-bottom: 100px;
}

.scene-controls {
	margin-bottom: 32px;
	display: flex;
	position: relative;
	flex-flow: row nowrap;

	transform-origin: top center;
	animation-name: controls-appear;
	animation-timing-function: ease-in-out;
	animation-duration: 1s;
	animation-play-state: revert;
	animation-fill-mode: backwards;

	.scene-progress-outer {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 100%;
		margin-bottom: 16px;
		//height: 4px;
		display: flex;
		flex-flow: column wrap;
		align-items: center;
		align-content: center;
		justify-items: center;
		justify-content: center;

		.scene-progress-text {
			font-size: .8rem;
			margin-bottom: 6px;
			color: mixins.whiteTrans(.6);
		}

		.progress-dots {
			display: flex;
			flex-flow: row wrap;
			@include mixins.center();
			align-content: space-between;
		}

		.progress-dot {
			width: 9px;
			height: 9px;
			margin-left: 6px;
			margin-bottom: 6px;
			border-radius: 100%;
			background: mixins.blackTrans();
			transition: all .2s ease;
			box-sizing: border-box;
			cursor: pointer;
			position: relative;

			span {
				position: absolute;
				font-size: 8px;
				padding: 2px 3px;
				display: none;
				border-radius: 4px;
				background: var(--app-primary-background);
				opacity: .9;
				color: mixins.whiteTrans(.8);
				bottom: 16px;
				left: 50%;
				transform: translateX(-50%);
			}

			&:first-of-type {
				margin-left: 0;
			}

			&.shown {
				background: mixins.whiteTrans(.8);
			}

			&.current {
				background: var(--app-accent-background);
				transform: scale(1.5);
			}

			&:hover {
				box-shadow: 0 0 0 2px var(--app-accent-background);
				transform: scale(1.5);

				span {
					display: block;
				}
			}
		}
	}
}

.sc-button {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	background: mixins.whiteTrans(.2);
	border-radius: 6px;
	border: 1px solid mixins.whiteTrans(.3);
	padding: 6px 16px;
	cursor: pointer;
	transition: all .1s ease;
	user-select: none;
	color: white;
	position: relative;
	margin-left: .5rem;
	z-index: 1;

	&.all-ready {
		background: var(--app-primary-background);
	}

	&:first-of-type {
		margin: 0;
	}

	svg {
		margin: 0 .5rem 0 0;

		&:focus {
			outline: none;
			color: var(--app-background-color);
		}
	}

	&.icon-only {
		svg {
			margin: 0;
		}
	}

	&.disabled {
		background: mixins.whiteTrans(0);
		color: mixins.whiteTrans(.4);
		pointer-events: none;

		svg {
			opacity: .4;
		}
	}

	&:hover {
		background: mixins.whiteTrans(.3);
		border-color: mixins.whiteTrans(.4);
		box-shadow: 0 1px 4px mixins.blackTrans(.2);
		transform: translateY(-1px);
	}

	&:active {
		background: mixins.whiteTrans(.7);
		transform: translateY(0);
		box-shadow: 0 1px 1px mixins.blackTrans(.1);
	}

	.done-confirmation {
		display: none;
		position: absolute;
		bottom: 100%;
		right: 0;
		margin-bottom: 16px;
		background: mixins.whiteTrans(.9);
		color: mixins.blackTrans(.9);
		white-space: nowrap;
		padding: 16px;
		border-radius: 8px;
		box-shadow: 0 2px 4px mixins.blackTrans();
		z-index: 10;

		.pure-button {
			margin-left: 6px;
		}

		&:after {
			content: '';
			position: absolute;
			width: 0;
			height: 0;
			top: 100%;
			right: 20px;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;

			border-top: 10px solid mixins.whiteTrans(.9);
		}
	}

	&:focus, &:focus-within {
		.done-confirmation {
			display: block;
		}
	}
}

@keyframes controls-appear {
	0% {
		opacity: 0;
		transform: translateY(100px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
