@use 'mixins';

.app-settings-icon {
	position: static;
	cursor: pointer;
	outline: none;
	width: 48px;
	height: 48px;
	display: flex;
	flex-flow: row nowrap;
	@include mixins.center();
	transition: all .2s ease;
	font-size: 24px;

	&:hover {
		color: var(--app-accent-background);
	}

	.app-settings-backdrop {
		opacity: 0;
		pointer-events: none;
		position: fixed;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		visibility: collapse;
		backdrop-filter: blur(4px);
		box-shadow: inset 0 0 128px mixins.blackTrans(.5);
		background: mixins.blackTrans();
		transition: all .3s ease;
		cursor: default;
		transform: scaleX(.5);
		transform-origin: right center;
	}

	.app-settings-container {
		opacity: 0;
		pointer-events: none;
		position: fixed;
		top: 8px;
		bottom: 8px;
		right: 0;
		width: 400px;
		visibility: collapse;
		background: #fff;
		backdrop-filter: blur(10px);
		padding: 16px;

		box-shadow: -16px 0 32px mixins.blackTrans(),
		0 0 0 8px mixins.blackTrans(.2);

		transition: all .2s ease;
		transform: translateX(20px);
		border-radius: 16px 0 0 16px;
		cursor: default;

	}

	&.active {
		.app-settings-container, .app-settings-backdrop {
			opacity: 1;
			transform: translateX(0) scale(1);
			pointer-events: all;
			visibility: visible;
			z-index: 300;
		}
	}
}

.app-settings-container {
	font-size: 1rem;
	color: var(--app-modal-text);
	display: flex;
	flex-flow: column nowrap;
	@include mixins.center();
	justify-content: flex-start;

	h1 {
		margin: -8px 0 32px 0;
		width: 100%;
		display: flex;
		@include mixins.center();
		position: relative;

		.app-settings-close {
			position: absolute;
			top: 14px;
			right: 0;
		}
	}
}


.appearance-items {
	display: flex;
	flex-flow: row wrap;
	@include mixins.center();
	width: 100%;

	.appearance-item-wrapper {
		display: flex;
		flex-flow: column wrap;
		@include mixins.center();

		.appearance-item {
			width: 100px;
			height: 100px;
			margin: 8px;
			border-radius: 32px;
			box-sizing: border-box;
			border: 4px solid #fff;
			box-shadow: 0 4px 8px mixins.blackTrans(), inset 0 0 0 2px mixins.whiteTrans();
			cursor: pointer;
			transition: all .2s ease;
		}

		.appearance-item-name {
			margin-top: 4px;
			font-size: .8rem;
			color: mixins.blackTrans(.4);
			transition: all .2s ease;
		}

		&:hover {
			.appearance-item {
				border: 4px solid var(--app-accent-background);
			}

			.appearance-item-name {
				color: mixins.blackTrans(.7);
			}
		}

		&.active {
			.appearance-item {
				border-color: var(--app-primary-background);
				cursor: default;
				box-shadow: inset 0 0 0 2px mixins.whiteTrans();
			}

			.appearance-item-name {
				font-weight: bold;
				color: #222
			}
		}
	}
}
