.collection-menu {
	order: 1;
	display: block;
	position: relative;
	background-color: rgba(0, 0, 0, .4);
	backdrop-filter: blur(4px);
	z-index: 11;
	//box-shadow: 10px 0 20px rgba(0, 0, 0, .2);
	//box-shadow: inset -10px 0 20px rgba(0, 0, 0, .2);

	.menu-title {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		padding: 4px 8px;
		background-color: rgba(0, 0, 0, .4);
		font-size: 1.5rem;
		font-weight: 200;
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		align-content: center;
		justify-items: center;
		justify-content: center;

		span {
			font-size: 2rem;
			margin-left: 1rem;
		}
	}

	.menu-content {
		overflow: hidden;
		position: sticky;
		top: 0;
		color: #fff;
		display: flex;
		flex-flow: column wrap;
		padding: 12px 8px;
		font-size: .8rem;
		white-space: nowrap;

		.menu-links {
			padding-top: 64px;

			a {
				display: flex;
				padding: 16px;
				color: #fff;
				height: 60px;
				text-underline-offset: 4px;
				border-radius: 6px;
				text-decoration: none;
				transition: all .2s ease;
				margin-bottom: 4px;
				flex-flow: column nowrap;
				align-content: center;
				justify-content: center;
				align-items: center;

				svg {
					margin-bottom: .4rem;
					font-size: 1.4rem;
					transition: all .2s ease;
					flex-shrink: 0;
					flex-grow: 0;
				}

				.badge {
					margin-top: .5rem;
				}
			}

			a:hover, a:focus {
				background-color: rgba(0, 0, 0, .3);

				svg {
					transform: scale(1.2);
				}
			}

			a.active {
				background-color: #ffbd0e;
				color: #1d536e;
				//box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
			}
		}
	}
}

.go-back {
	display: inline-flex;
	flex-grow: 0;
	flex-shrink: 0;

	border: 1px solid rgba(255, 255, 255, .7);
	padding: .4em;
	border-radius: 100%;
	transition: all .2s ease;
	cursor: pointer;
	position: relative;

	&:before {
		content: '';
		position: absolute;
		top: 2px;
		left: 2px;
		bottom: 2px;
		right: 2px;
		border-radius: 100%;
		transform: scale(0.5);
		transition: all .2s ease;
		z-index: -1;
	}

	&:hover, &:focus {
		outline: none;

		&:before {
			background: rgba(255, 255, 255, .7);
			transform: scale(1.05);
		}

		color: rgba(3, 62, 126, 0.9);
		transform: scale(1.05) translateY(-1px);
		box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
	}
}
