.side-menu {
	order: 1;
	display: flex;
	flex-flow: column nowrap;
	background-color: rgba(0, 0, 0, .4);
	//backdrop-filter: blur(4px);
	z-index: 11;
	//box-shadow: 10px 0 20px rgba(0, 0, 0, .2);
	box-shadow: inset -5px 0 10px rgba(0, 0, 0, .2);
	min-height: 100vh;
	position: fixed;
	top: 0;
	height: 100%;
	width: auto;
	justify-content: center;

	.menu-title {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		padding: 8px;
		font-size: 1rem;
		font-weight: 200;
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		align-content: center;
		justify-items: center;
		justify-content: center;

		span {
			font-size: 2rem;
			margin-left: 1rem;
		}
	}

	.menu-content {
		color: #fff;
		display: flex;
		flex-flow: column wrap;
		padding: 12px 8px;
		font-size: .8rem;
		white-space: nowrap;
		margin-bottom: 100px;

		.menu-links {
			//padding-bottom: 100px;

			a {
				display: flex;
				padding: 16px;
				color: #fff;
				height: 60px;
				text-underline-offset: 4px;
				border-radius: 6px;
				text-decoration: none;
				transition: all .2s ease;
				margin-bottom: 4px;
				flex-flow: column nowrap;
				align-content: center;
				justify-content: center;
				align-items: center;

				svg {
					margin-bottom: .4rem;
					font-size: 1.4rem;
					transition: all .2s ease;
					flex-shrink: 0;
					flex-grow: 0;
				}

				.badge {
					margin-top: .5rem;
				}
			}

			a:hover, a:focus {
				background-color: rgba(0, 0, 0, .3);

				svg {
					transform: scale(1.2);
				}
			}

			a.active {
				background-color: #ffbd0e;
				color: #1d536e;
				//box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
			}
		}
	}
}

.side-menu.locked {
	opacity: .7;
	pointer-events: none;
	user-select: none;
	user-input: none;
	user-focus: none;
	background-color: rgba(0, 0, 0, 0.1);

	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0, 0, 0, .2);
		z-index: 13;
		backdrop-filter: blur(8px);
	}

	a {
		opacity: .5;
		color: #aaa !important;
	}

	a.active {
		background-color: rgba(0, 0, 0, 0.1) !important;
		color: #ccc !important;
	}

	svg {
		color: #aaa !important;
	}
}
