@use "mixins";

.switch-wrapper {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	padding-left: 4px;

	.switch-body {
		width: 40px;
		height: 22px;
		min-height: 22px;
		flex-grow: 0;
		flex-shrink: 0;
		background: mixins.blackTrans(.1);
		border-radius: 16px;
		display: flex;
		position: relative;
		box-shadow: inset 0 2px 6px mixins.blackTrans(), 0 0 0 1px mixins.whiteTrans(.5);
	}

	.switch-handle {
		position: absolute;
		top: 2px;
		left: 2px;
		width: 18px;
		height: 18px;
		border-radius: 100%;
		background: mixins.whiteTrans(.9);
		transition: all .2s ease;
		box-shadow: 0 0 0 1px mixins.whiteTrans(.9), 3px 0 8px mixins.blackTrans();
	}

	&.checked {
		.switch-body {
		}

		.switch-handle {
			background: var(--app-primary-background);
			transform: translateX(18px);
			box-shadow: 0 0 0 2px var(--app-primary-background-darken), -3px 0 8px mixins.blackTrans();
		}
	}

	.switch-label {
		margin-left: 1rem;
		cursor: default;
	}

	&:focus, &:focus-within {
		outline: none;

		.switch-body {
			@include mixins.focusRing();
		}

		.switch-label {
			font-weight: bold;
		}

		&.no-bold {
			.switch-label {
				font-weight: normal;
			}
		}
	}
}
