:root {
	--app-background: linear-gradient(150deg, #569AFF 10.21%, #88DFAB 84.57%);
	--app-background-color: #0075ce;
	--app-success-background: #01a628;
	--app-success-text: #fff;

	--app-primary-background: #0075ce;
	--app-primary-background-darken: #005fa9;

	--app-primary-color: #fff;
	--app-text: #fff;
	--app-link-color: #114e8f;
	--app-placeholder-color: #96b9d2;
	--app-placeholder-error-color: #fa9dc2;
	--app-section-headers-color: #354b5e;
	--app-input-background: #fff;

	--app-modal-background: #f2f2f2;
	--app-modal-text: #222;

	--app-accent-background: #ffbd0e;
	--app-accent-background-darken: #d59e0e;

	--app-danger-background: #ff005b;
	--app-danger-background-darken: #cc024b;
	--app-danger-text: #fff;
}
