:root {
	--app-background: #f8f8f8;
	--app-color: #222;

	--app-primary-background: #0075ce;
	--app-primary-color: #fff;

	--app-accent-background: #ffbd0e;
	--app-accent-color: #305372;

	--app-danger-background: #e20443;
	--app-danger-color: #fff;

	--app-warning-background: #ffbd0e;
	--app-warning-color: #2d1004;

	--app-success-background: #409201;
	--app-success-color: #fff;

	--app-info-background: #b3d3ff;
	--app-info-color: #131c2f;

	--app-code-background: #ecdbb7;
	--app-code-color: #444;

	--app-border-color: #fff;
	--app-header-color: #2b566e;
	--app-remark-color: #aaa;
}
