:root {
	--app-background: linear-gradient(150deg, #569AFF 10.21%, #88DFAB 84.57%);
	--app-background-color: #0075ce;
	--app-success-background: #01a628;
	--app-success-text: #fff;

	--app-primary-background: #0075ce;
	--app-primary-background-darken: #005fa9;

	--app-card-background: rgba(255, 255, 255, .4);
	--app-card-text: #333;

	--app-info-background: #abcdf5;
	--app-info-text: #294470;

	--app-primary-color: #fff;
	--app-text: #fff;
	--app-link-color: #114e8f;
	--app-placeholder-color: #96b9d2;
	--app-placeholder-error-color: #fa9dc2;
	--app-section-headers-color: #354b5e;
	--app-input-background: #fff;

	--app-modal-background: #f0f0f0;
	--app-modal-text: #222;

	--app-accent-background: #ffbd0e;
	--app-accent-background-darken: #d59e0e;

	--app-danger-background: #FF005B;
	--app-danger-background-darken: #cc024b;
	--app-danger-text: #fff;
}
