#root {
	display: flex;
	flex-flow: column wrap;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	position: relative;
}

.app-page {
	// menu + (page + footer)
	display: flex;
	height: 100vh;
	flex-flow: column nowrap;

	.app-page-wrapper {
		// (page + footer)
		display: flex;
		flex-grow: 2;
		flex-flow: column nowrap;
		align-items: center;
		position: relative;
		overflow-y: auto;

		.app-page-content {
			// page
			padding: 16px 32px;
			max-width: 1200px;
			min-width: 70%;
			flex-grow: 2;
			position: relative;
		}
	}
}

.about-page {
	div {
		line-height: 1.4;
		width: 960px;
	}
}

.collections {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	width: 1200px;
	height: 500px;
	background: rgba(0, 0, 0, .3);
	border-radius: 18px;
	padding: 32px;

	.collection-test-1, .collection-test-2 {
		position: relative;
		background: rgba(255, 255, 255, .4);
		border-radius: 18px;
		margin-right: 32px;
	}

	.collection-test-1 {
		width: 500px;
		height: 500px;
	}

	.collection-test-2 {
		width: 200px;
		height: 200px;
	}
}

.scenes {
	display: grid;
	height: 100%;
	grid-template-columns: 1fr 1.2fr 1fr;
	grid-column-gap: 8px;

	div {
		position: relative;
		border-right: 1px dotted rgba(255, 255, 255, .5);

		&:last-child {
			border-right: none;
		}
	}
}
