#root {
	display: flex;
	flex-flow: column wrap;
	overflow: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.app-page {
	// menu + (page + footer)
	display: flex;
	min-height: 100vh;
	flex-flow: column nowrap;

	.app-page-wrapper {
		// (page + footer)
		display: flex;
		flex-grow: 2;
		flex-flow: column nowrap;
		align-items: center;
		position: relative;
		max-width: 100vw;

		.app-page-content {
			// page
			padding: 16px 32px;
			max-width: 1200px;
			min-width: 70%;
			flex-grow: 2;
			position: relative;
		}
	}
}

.about-page {
	div {
		line-height: 1.4;
	}
}

.collections {
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	display: grid;
	grid-template-columns: 4fr 1fr;
	background: rgba(0, 0, 0, .3);
	border-radius: 18px;
	padding: 32px;
	min-height: 50vh;

	.collection-test-1, .collection-test-2 {
		position: relative;
		background: rgba(255, 255, 255, .4);
		border-radius: 18px;
		margin-right: 32px;
		aspect-ratio: 1/1;
	}
}

.scenes {
	display: grid;
	height: 100%;
	grid-template-columns: 1fr 1.2fr 1fr;
	grid-column-gap: 8px;

	div {
		position: relative;
		border-right: 1px dotted rgba(255, 255, 255, .5);

		&:last-child {
			border-right: none;
		}
	}
}
