@import "styles/precompiled/_fonts.css";
@import "styles/precompiled/_normalize.css";

@import "styles/lock";
@import "styles/mixins";
@import "styles/variables.css";
@import "styles/menu";
@import "styles/page";
@import "styles/collections";
@import "styles/go-back";
@import "styles/forms";
@import "styles/header";
@import "styles/buttons";
@import "styles/errors";
@import "styles/cards";
@import "styles/badge";
@import "styles/card-list";
@import "styles/dialogs";
@import "styles/run";
@import "styles/radio";
@import "styles/session";
@import "styles/login";
@import "styles/kardissimo";
@import "styles/switch";
@import "styles/settings";

html {
	font-family: sans-serif;
}

body {
	font-family: system-ui;
	font-display: optional;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: var(--app-text);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	position: relative;
}

html, body {
	-webkit-overflow-scrolling: touch;
}

#bg {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	background: var(--app-background);
}

h1, h2, h3 {
	font-weight: 200;
	display: flex;
	align-content: center;
}
