@import "menu.scss";
@import "page.scss";
@import "collections.scss";

html {
  font-family: sans-serif;
}

body {
  background: linear-gradient(150deg, #569AFF 10.21%, #88DFAB 84.57%);
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
}
