@import "styles/precompiled/_fonts.css";
@import "styles/precompiled/_normalize.css";

@import "styles/mixins";
@import "styles/variables.css";
@import "styles/menu";
@import "styles/page";
@import "styles/collections";
@import "styles/forms";
@import "styles/header";
@import "styles/secondary-header";
@import "styles/buttons";
@import "styles/errors";
@import "styles/cards";
@import "styles/badge";
@import "styles/card-list";

html {
	font-family: sans-serif;
}

body {
	font-family: system-ui;
	font-display: optional;
	//font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	background: linear-gradient(150deg, #569AFF 10.21%, #88DFAB 84.57%);
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	position: relative;
}

h1, h2, h3 {
	font-weight: normal;
}
